@{
    ViewData["Title"] = "datatable";
    Layout = "~/Views/Layouts/_adminLayout.cshtml";
}
<link href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables_themeroller.css">
<link rel="stylesheet" type="text/css" href="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" charset="utf8" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>


<link href="https://cdn.datatables.net/select/1.1.2/css/select.dataTables.min.css" rel="stylesheet" />




@*
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <style>
        table.dataTable.select tbody tr,
        table.dataTable thead th:first-child {
            cursor: pointer;
        }
    </style>*@

<style>
    td {
        background-color: white !important;
        padding-top: 2% !important;
        padding-bottom: 2% !important;
    }

    table {
        border-collapse: collapse;
    }

    table {
        border-collapse: collapse;
    }

        table.dataTable thead th {
            border-bottom: 2px solid #f7f7ff !important;
        }

    thead, th, td {
        border-bottom: 2px solid #f7f7ff;
    }

    table.dataTable.no-footer {
        border-bottom: 2px solid #f7f7ff;
    }

    thead {
        background-color: #f7f7ff !important;
    }

    table.dataTable thead th {
        /* padding-bottom:10px;
        padding-top:10px;*/
        padding-top: 1% !important;
        padding-bottom: 1% !important;
        background-color: #f7f7ff !important;
    }

    #mytable_previous a {
        border: none !important;
        padding-left: 100% !important;
    }

    .hundered {
        padding: 1% !important;
        color: white !important;
        background-color: #38A169 !important;
        border-radius: 2px !important;
    }

    #mytable_next a {
        border: none !important;
    }


    tr.border-bottom {
        border-bottom: 1px solid #ff000d !important;
    }

    tr {
        border-bottom: 2px solid #f7f7ff !important;
    }

        tr.border_bottom td {
            border-bottom: 1px solid black;
        }

    .cancel {
        border-radius: 5px;
        padding: 1% 2%;
        border: none;
        color: black;
        background-color: lightgray;
    }

        .cancel:hover {
            background-color: #319795;
        }
    .dataTable a {
        cursor: pointer !important;
    }
    #mytable_wrapper {
        background-color: #f7f7ff !important;
        border-radius: 2%;
    }
        #mytable_wrapper th{
            font-size:20px;
        }
        .bottom {
            visibility: hidden;
        }
</style>

<style>
    .astyle {
        font-size: 15px;
        background-color: #8059d4;
        border-radius: 5px;
        color: white;
        padding: 2% 6% 2% 6%;
    }
</style>






@*
    <style>
        .pagination {
            display: none !important;
        }

            .pagination li.Prev, .pagination Next {
                display: inline !important;
            }
    </style>*@

<div class="col-12">
    <h4 class="mt-0 header-title h3bg">ADVERTISER</h4>

    <div class="card" style="margin-top: -7px; box-shadow: 0 9px 4px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%); ">
        <div class="card-body">


            <table id="mytable" class="" style="width:100%">
                <thead>
                    <tr>
                     
                        <th><input name="select_all" value="1" type="checkbox" autocomplete="off"></th>
                        <th data-orderable="false">ID</th>
                        <th data-orderable="false">NAME</th>
                        <th data-orderable="false">Account Manager</th>
                        <th data-orderable="false">Labels</th>
                        <th data-orderable="false"><i class="fa fa-tag" aria-hidden="true"></i>&nbsp;TODAY Revenue's</th>
                  

                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in ViewBag.apiresult)

                    {
                        if (@i.account_status == "active")
                        {


                        <tr>
                         
                            <td><input type="checkbox" name="deleteProduct" autocomplete="off"></td>
                            <td>@i.network_advertiser_id </td>
                            <td>@i.name</td>
                            <td>@i.relationship.account_manager.first_name.</td>
                            <td><a class="astyle">N/A</a></td>
                            <td><a class="astyle">$@i.relationship.Labels.total</a></td>

                          

                        </tr>
                    }
                    }
                  

                </tbody>


            </table>


        </div>


    </div>
</div>

<div class="modal fade bd-example-modal-lg info" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">

        <div class="modal-content" style="background: linear-gradient(90deg, #1E292B 0%, #273132 20.83%, #313735 40.62%, #3E413A 60.94%, #4A4B43 80.21%, #5A5748 100%);">
            <div class="col-md-12">
                <button onclick="modalclose()" style="float: right; background-color: white;" type="button" class="btn-close"></button>

            </div>
            <table class="modaltbl">
                <tbody>
                    <tr>
                        <td class="ftd">ID:</td>

                        <td> <div class="textright" id="idn">1</div></td>
                    </tr>


                    <tr>
                        <td>  <div class="ftd">Name:</div></td>
                        <td>   <div class="textright" id="name"></div></td>

                    </tr>
                    <tr>
                        <td>  <div class="ftd">Affiliate Manager:</div></td>
                        <td>   <div class="textright" id="am">Yes</div></td>

                    </tr>
                 
                    <tr>
                        <td>       <div class="ftd">Notes:</div></td>
                        <td>          <div class="textright" id="notes">Lorem ipsem dummy text</div></td>

                    </tr>
                    <tr>
                        <td><div class="ftd">Notification:</div></td>
                        <td><div class="textright" id="notify"></div></td>

                    </tr>
                    <tr>
                        <td>         <div class="ftd">Date Created:</div></td>
                        <td>    <div class="textright" id="dc">11/29/2019 08:32:30 PST</div></td>

                    </tr>
                    <tr>
                        <td><div class="ftd">Last Modification:</div></td>
                        <td>     <div class="textright" id="lm">1633552082</div></td>

                    </tr>
                    <tr>
                        <td>  <div class="ftd">Status:</div></td>
                        <td><div class="textright" id="status">Active</div></td>

                    </tr>
                    <tr>
                        <td>   <div class="ftd">Account Executive:</div></td>
                        <td><div class="textright" id="ae">None</div></td>

                    </tr>
                </tbody>
            </table>
            <div  class="row" style="padding-top: 5%; display:none;">

                <div class="col-md-6" style="line-height: 37px; padding-left: 5%;  font-size: 18px;color:white;">
                    <div>ID:</div>
                    <div style="height: 1.9em ">Name:</div>
                    <div style="height: 1.9em ">Affiliate Manager:</div>
                    <div style="height: 1.9em ">Notes:</div>
                    <div style="height: 1.9em ">Notification:</div>

                    <div style="height: 1.9em ">Date Created:</div>
                    <div style="height: 1.9em ">Last Modification:</div>
                    <div style="height: 1.9em ">Status:</div>
                    <div style="height: 1.9em ">Account Executive:</div>


                </div>


                <div class="col-md-6" style=" font-size: 15px; color: white; text-align: right; padding-right: 3em; line-height: 2.5em;">
                    <div class="idn">1</div>
                    <div id="name" style="height: 1.9em "></div>
                    <div style="height: 1.9em " id="am">Yes</div>
                    <div style="height: 1.9em " id="notes">Lorem ipsem dummy text</div>
                    <div style="height: 1.9em " id="notify"></div>
                    <div style="height: 1.9em " id="dc">11/29/2019 08:32:30 PST</div>
                    <div style="height: 1.9em " id="lm">1633552082</div>
                    <div style="height: 1.9em " id="status">Active</div>
                    <div style="height: 1.9em " id="ae">None</div>



                </div>
            </div>
        </div>
    </div>
</div>



<script>
    function showmodal() {

        $(".modal").modal('show');
    }
    function modalclose() {

        $(".modal").modal('hide');
    }


    $(document).ready(function () {

        /** Handling checboxes selection*/

        function updateDataTableSelectAllCtrl(table) {
            var $table = table.table().node();
            var $chkbox_all = $('tbody input[type="checkbox"]', $table);
            var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
            var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

            // If none of the checkboxes are checked
            if ($chkbox_checked.length === 0) {
                chkbox_select_all.checked = false;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = false;
                }

                // If all of the checkboxes are checked
            } else if ($chkbox_checked.length === $chkbox_all.length) {
                chkbox_select_all.checked = true;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = false;
                }

                // If some of the checkboxes are checked
            } else {
                chkbox_select_all.checked = true;
                if ('indeterminate' in chkbox_select_all) {
                    chkbox_select_all.indeterminate = true;
                }
            }
        }

        /** Responsive table with colreorder, fixed header;footer, sortable teble*/
        var table = $('#mytable').DataTable({

            //responsive: {
            //    details: {
            //        type: 'column'
            //    }
            //},
            /*  order: [1, 'asc'],*/
            //colReorder: {
            //    fixedColumnsLeft: 1,
            //    fixedColumnsLeft: 2
            //},
            //fixedHeader: {
            //    header: true,
            //    footer: true
            //},
            'columnDefs': [{
                'targets': 1,
                'searchable': false,
                'orderable': false,
                'width': '1%',
                'className': 'dt-body-center'
            },
            {
                'className': 'control',
                'orderable': false,
                targets: 0,

            },
            ],


            'filter': false,

            "dom": '<"bottom"i>rt<"bottom"flp><"clear">',

            "language": {
                "info": '<"bottom"i>rt<"bottom"flp><"clear">',
                "info": " _START_ - _END_ of _TOTAL_",
                "paginate": {
                    "next": '<img src="/img/nextt.png" style=" width: 15px;">',

                    "previous": '<img src="/img/back.png" style=" width: 15px;" > '
                }
            },

            "pagingType": "simple",
            /*'order': [[1, 'asc']],*/
            'rowCallback': function (row, data, dataIndex) {
                // Get row ID
                var rowId = data[6];

                // If row ID is in the list of selected row IDs
                if ($.inArray(rowId, /**rows_selected */) !== -1) {
                    $(row).find('input[type="checkbox"]').prop('checked', true);
                    $(row).addClass('selected');
                }
            }
        });

        /** mark single checkboxes */

        $(document).ready(function () {
            // Array holding selected row IDs
            var rows_selected = [];


            // Handle click on checkbox
            $('#mytable tbody').on('click', 'input[type="checkbox"]', function (e) {
                var $row = $(this).closest('tr');

                // Get row data
                var data = table.row($row).data();

                // Get row ID
                var rowId = data[6];

                // Determine whether row ID is in the list of selected row IDs
                var index = $.inArray(rowId, rows_selected);

                // If checkbox is checked and row ID is not in list of selected row IDs
                if (this.checked && index === -1) {
                    rows_selected.push(rowId);

                    // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
                } else if (!this.checked && index !== -1) {
                    rows_selected.splice(index, 1);
                }

                if (this.checked) {
                    $row.addClass('selected');
                } else {
                    $row.removeClass('selected');
                }

                // Update state of "Select all" control
                updateDataTableSelectAllCtrl(table);

                // Prevent click event from propagating to parent
                e.stopPropagation();
            });

            // Handle click on table cells with checkboxes
            $('#mytable').on('click', 'tbody td, thead th:first-child', function (e) {
                $(this).parent().find('input[type="checkbox"]').trigger('click');
            });

            // Handle click on "Select all" control
            $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
                if (this.checked) {
                    $('#mytable tbody input[type="checkbox"]:not(:checked)').trigger('click');
                } else {
                    $('#mytable tbody input[type="checkbox"]:checked').trigger('click');
                }

                // Prevent click event from propagating to parent
                e.stopPropagation();
            });

            // Handle table draw event
            table.on('draw', function () {
                // Update state of "Select all" control
                updateDataTableSelectAllCtrl(table);
            });

            // Handle form submission event
            $('#frm-mytable').on('submit', function (e) {
                var form = this;

                // Iterate over all selected checkboxes
                $.each(rows_selected, function (index, rowId) {
                    // Create a hidden element
                    $(form).append(
                        $('<input>')
                            .attr('type', 'hidden')
                            .attr('name', 'id[]')
                            .val(rowId)/**there are data from json file or db*/
                    );
                });

                $('#examplee-console').text($(form).serialize());
                console.log("Form submission", $(form).serialize());

                // Remove added elements
                $('input[name="id\[\]"]', form).remove();

                // Prevent actual form submission
                e.preventDefault();
            });

        });



        /** Handling responsive expand collapse all*/



        // Handle click on "Expand All" button
        $('#btn-show-all-children').on('click', function () {
            // Expand row details
            table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
        });

        // Handle click on "Collapse All" button
        $('#btn-hide-all-children').on('click', function () {
            // Collapse row details
            table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
        });
    });
    //$(document).ready(function () {

    //    /** Handling checboxes selection*/

    //    function updateDataTableSelectAllCtrl(table) {
    //        var $table = table.table().node();
    //        var $chkbox_all = $('tbody input[type="checkbox"]', $table);
    //        var $chkbox_checked = $('tbody input[type="checkbox"]:checked', $table);
    //        var chkbox_select_all = $('thead input[name="select_all"]', $table).get(0);

    //        // If none of the checkboxes are checked
    //        if ($chkbox_checked.length === 0) {
    //            chkbox_select_all.checked = false;
    //            if ('indeterminate' in chkbox_select_all) {
    //                chkbox_select_all.indeterminate = false;
    //            }

    //            // If all of the checkboxes are checked
    //        } else if ($chkbox_checked.length === $chkbox_all.length) {
    //            chkbox_select_all.checked = true;
    //            if ('indeterminate' in chkbox_select_all) {
    //                chkbox_select_all.indeterminate = false;
    //            }

    //            // If some of the checkboxes are checked
    //        } else {
    //            chkbox_select_all.checked = true;
    //            if ('indeterminate' in chkbox_select_all) {
    //                chkbox_select_all.indeterminate = true;
    //            }
    //        }
    //    }

    //    /** Responsive table with colreorder, fixed header;footer, sortable teble*/
    //    var table = $('#mytable').DataTable({

    //        responsive: {
    //            details: {
    //                type: 'column'
    //            }
    //        },
    //        order: [1, 'asc'],
    //        colReorder: {
    //            fixedColumnsLeft: 1,
    //            fixedColumnsLeft: 2
    //        },
    //        fixedHeader: {
    //            header: true,
    //            footer: true
    //        },
    //        'columnDefs': [{
    //            'targets': 1,
    //            'searchable': false,
    //            'orderable': false,
    //            'width': '1%',
    //            'className': 'dt-body-center'
    //        },
    //        {
    //            'className': 'control',
    //            'orderable': false,
    //            targets: 0,

    //        },
    //        ],


    //        'filter': false,

    //        "dom": '<"bottom"i>rt<"bottom"flp><"clear">',

    //        "language": {
    //            "info": '<"bottom"i>rt<"bottom"flp><"clear">',
    //            "info": " _START_ - _END_ of _TOTAL_",
    //            "paginate": {
    //                "next": '<img src="/img/nextt.png" style=" width: 25px;">',

    //                "previous": '<img src="/img/back.png" style=" width: 25px;" > '
    //            }
    //        },

    //        "pagingType": "simple",
    //        'order': [[1, 'asc']],
    //        'rowCallback': function (row, data, dataIndex) {
    //            // Get row ID
    //            var rowId = data[6];

    //            // If row ID is in the list of selected row IDs
    //            if ($.inArray(rowId, /**rows_selected */) !== -1) {
    //                $(row).find('input[type="checkbox"]').prop('checked', true);
    //                $(row).addClass('selected');
    //            }
    //        }
    //    });

    //    /** mark single checkboxes */

    //    $(document).ready(function () {
    //        // Array holding selected row IDs
    //        var rows_selected = [];


    //        // Handle click on checkbox
    //        $('#mytable tbody').on('click', 'input[type="checkbox"]', function (e) {
    //            var $row = $(this).closest('tr');

    //            // Get row data
    //            var data = table.row($row).data();

    //            // Get row ID
    //            var rowId = data[6];

    //            // Determine whether row ID is in the list of selected row IDs
    //            var index = $.inArray(rowId, rows_selected);

    //            // If checkbox is checked and row ID is not in list of selected row IDs
    //            if (this.checked && index === -1) {
    //                rows_selected.push(rowId);

    //                // Otherwise, if checkbox is not checked and row ID is in list of selected row IDs
    //            } else if (!this.checked && index !== -1) {
    //                rows_selected.splice(index, 1);
    //            }

    //            if (this.checked) {
    //                $row.addClass('selected');
    //            } else {
    //                $row.removeClass('selected');
    //            }

    //            // Update state of "Select all" control
    //            updateDataTableSelectAllCtrl(table);

    //            // Prevent click event from propagating to parent
    //            e.stopPropagation();
    //        });

    //        // Handle click on table cells with checkboxes
    //        $('#mytable').on('click', 'tbody td, thead th:first-child', function (e) {
    //            $(this).parent().find('input[type="checkbox"]').trigger('click');
    //        });

    //        // Handle click on "Select all" control
    //        $('thead input[name="select_all"]', table.table().container()).on('click', function (e) {
    //            if (this.checked) {
    //                $('#mytable tbody input[type="checkbox"]:not(:checked)').trigger('click');
    //            } else {
    //                $('#mytable tbody input[type="checkbox"]:checked').trigger('click');
    //            }

    //            // Prevent click event from propagating to parent
    //            e.stopPropagation();
    //        });

    //        // Handle table draw event
    //        table.on('draw', function () {
    //            // Update state of "Select all" control
    //            updateDataTableSelectAllCtrl(table);
    //        });

    //        // Handle form submission event
    //        $('#frm-mytable').on('submit', function (e) {
    //            var form = this;

    //            // Iterate over all selected checkboxes
    //            $.each(rows_selected, function (index, rowId) {
    //                // Create a hidden element
    //                $(form).append(
    //                    $('<input>')
    //                        .attr('type', 'hidden')
    //                        .attr('name', 'id[]')
    //                        .val(rowId)/**there are data from json file or db*/
    //                );
    //            });

    //            $('#examplee-console').text($(form).serialize());
    //            console.log("Form submission", $(form).serialize());

    //            // Remove added elements
    //            $('input[name="id\[\]"]', form).remove();

    //            // Prevent actual form submission
    //            e.preventDefault();
    //        });

    //    });



    //    /** Handling responsive expand collapse all*/



    //    // Handle click on "Expand All" button
    //    $('#btn-show-all-children').on('click', function () {
    //        // Expand row details
    //        table.rows(':not(.parent)').nodes().to$().find('td:first-child').trigger('click');
    //    });

    //    // Handle click on "Collapse All" button
    //    $('#btn-hide-all-children').on('click', function () {
    //        // Collapse row details
    //        table.rows('.parent').nodes().to$().find('td:first-child').trigger('click');
    //    });
    //});
</script>
<script>

    function offerdetail(count,type) {
      
   
        $.ajax
            (
                {
                    type: "GET",
                    url: "/admin/advertiserinfo",
                    contentType: "Application/json;charset=utf-8",
                    data: { tid: count },
                    success: function (data) {
                     
                      console.log("result", data);
                       $(".idn").text(data.network_advertiser_id );
                        $(".name").text(data.name);
                        $("#name").text(data.name);
                    
                        $("#notes").text(data.internal_notes);
                        $("#notify").text(data.has_notifications);
                        $("#dc").text(data.time_created);
                        $("#ae").text(data.account_executive_id);


                    },


                }
        );
       
          $(".info").modal('show');
  
    }
</script>
