body {
    font-family: Arial;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.copyright {
    padding-bottom: 20px;
}