@{ ViewData["Title"] = "privacy_policy"; Layout = "~/Views/Layouts/MoneyhomeLayout.cshtml"; }
<section id="hero">
    <div class="logo-bar">
        @*
            <div class="row navmaxwidth">
              <div class="small-12 medium-12 large-4 columns">
                <h1 class="wow fadeInDown text-center animated" style="visibility:visible;animation-name:fadeInDown">
                  <img src="~/asset/StudentFinTech_Logo-mid-size.jpg" alt="Student Fintec" style="margin-top:-22px">
                </h1>
              </div>
              <div class="large-8 columns hide-for-small-only">
                <nav class="fontsizee">
                  <p class="headertext">
                    <a onclick="javascript:" class="rc-trigger navcolor fontsizee" href="#main-regg">CHECK MY ELIGIBILITY</a> &nbsp;<a class="fontsizee">|</a> &nbsp; <a onclick="javascript:" class="rc-trigger navcolor fontsizee" href="#unclaimed-money">WHAT IS UNCLAIMED MONEY?</a> &nbsp; <a class="fontsizee">|</a> &nbsp; <a class="rc-trigger navcolor fontsizee" href="#how_it_works">HOW IT WORKS</a>
                  </p>
                </nav>
              </div>
            </div>*@
        <section id="main-reg">
            <div class="row navmaxwidth">
                <div class="small-11 small-centered medium-11 medium-centered columns">
                    <div class="row reg-box">
                        <h5>
                            <b>PRIVACY POLICY</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">The Cosmopolitan Group, LLC, is committed to keeping any and all personal information collected of those individuals that visit our website and make use of our online facilities and services accurate, confidential, secure and private. Our privacy policy has been designed and created to ensure those affiliated with The Cosmopolitan Group of our commitment and realization of our obligation not only to meet but to exceed most existing privacy standards.</span>
                        </p>
                        <p>
                            <span style="font-weight:400">
                                THEREFORE, this Privacy Policy Agreement shall apply to The Cosmopolitan Group and any subsidiary company listed below, and thus it shall govern any and all data collection and usage thereof. Using Cosmopolitancg.com you are herein consenting to the following data procedures expressed within this agreement.
                            </span>
                        </p>
                        <h5>
                            <b>Acceptance of Terms</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">
                                Using this website, you are hereby accepting the terms and conditions stipulated within the Privacy Policy Agreement. If you are not in agreement with our terms and conditions, then you should refrain from further use of our sites. In addition, your continued use of our website following the posting of any updates or changes to our terms and conditions shall mean that you agree and accept such changes.
                            </span>
                        </p>
                        <h5>
                            <b>Collection of Information</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">This website collects various types of information, such as:</span>
                        </p>
                        <ul>
                            <li style="font-weight:400">
                                <span style="font-weight:400">
                                    Voluntarily provided information which may include your name, address, email address, billing and/or credit card information, etc., which may be used when you purchase products and/or services and to deliver the services you have requested.
                                </span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Information automatically collected when visiting our website, which may include cookies, third party tracking technologies and server logs.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">
                                    When you use the Services, we may send one or more Cookies (which are small text files containing a string of alphanumeric characters) to your computer or mobile device. We may use both Session Cookies and Persistent Cookies. A Session Cookie disappears after you close your browser. A Persistent Cookie remains after you close your browser and may be used by your browser on subsequent visits to the Services. Persistent Cookies can be removed. Please review your web browser “Help” file to learn the proper way to modify your Cookie settings. If you delete, or choose not to accept, Cookies from the Services, you may not be able to utilize the features of the Services to their fullest potential.
                                </span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">
                                    When you visit the Site, use the Services, or open an email from The Cosmopolitan Group, we may automatically receive and record certain information from your computer, web browser and/or mobile device, including your IP address or other device address or ID, web browser and/or device type, hardware and software settings and configurations, the web pages or sites that you visit just before or just after visiting the Site, the pages you view on the Site, your actions on the Site, and the dates and times that you visit, access, or use the Services. When you use the Site on a mobile device, we may also collect the physical location of your device by, for example, using satellite, cell phone tower or wireless local area network signals.
                                </span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">
                                    We may implement third party advertising or other content on the Site that may use clear gifs or other forms of web beacons, which allow the third-party content provider to read and write Cookies to your web browser in connection with your viewing of the third party content on the Site. Additionally, we may implement third party buttons (such as Facebook “like” or “share” buttons) that may allow a third party to collect information about you through their browser Cookies, even when you do not interact with the button.
                                </span>
                            </li>
                        </ul>
                        <p>
                            <span style="font-weight:400">
                                Please rest assured that this site shall only collect personal information that you knowingly and willingly provide by way of surveys, completed membership forms, and emails. It is the intent of this site to use personal information only for the purpose for which it was requested, and any additional uses specifically provided on this site.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight:400">
                                The Cosmopolitan Group may have the occasion to collect anonymous demographic information, such as age, gender, household income, political affiliation, race, and religion. We may also gather information about the type of browser you are using, IP address or type of operating system to assist us in providing and maintaining superior quality service.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight:400">
                                It is highly recommended and suggested that you review the privacy policies and statements of any website you choose to use or frequent as a means to better understand the way in which other websites garner, make use of and share information collected.
                            </span>
                        </p>
                        <h5>
                            <b>Use of Information Collected</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">
                                The Cosmopolitan Group  may collect and may make use of personal information to assist in the operation of our website and to ensure delivery of the services you need and request. At times, we may find it necessary to use personally identifiable information as a means to keep you informed of other possible products and/or services that may be available to you from Cosmopolitancg.com and our subsidiaries. The Cosmopolitan Group and our subsidiaries may also be in contact with you with regards to completing surveys and/or research questionnaires related to your opinion of current or potential future services that may be offered.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight:400">
                                The Cosmopolitan Group may feel it necessary, from time to time, to contact you on behalf of other external business partners with regards to a potential new offer which may be of interest to you. If you consent or show interest in presented offers, then, at that time, specific identifiable information, such as name, email address and/or telephone number, may be shared with the third party.

                                &nbsp;
                            </span>
                        </p>
                        <p>
                            <span style="font-weight:400">
                                The Cosmopolitan Group may find it beneficial to share specific data with our trusted partners to conduct statistical analysis, provide you with email and/or postal mail, deliver support and/or arrange for deliveries to be made. Those third parties shall be strictly prohibited from making use of your personal information, other than to deliver those services which you requested, and as such they are thus required, in accordance with this agreement, to maintain the strictest of confidentiality with regards to all your information.
                            </span>
                        </p>
                        <p>
                            <span style="font-weight:400">The Cosmopolitan Group may deem it necessary to follow websites and/or pages that our users may frequent to gleam what types of services and/or products may be the most popular to customers or the general public.</span>
                        </p>
                     
                        <p>
                            <span style="font-weight:400"> The Cosmopolitan Group may disclose your personal information, without prior notice to you, only if required to do so in accordance with applicable laws and /or in a good faith belief that such action is deemed necessary or is required to:</span>
                        </p>
                        <ul>
                            <li style="font-weight:400">
                                <span style="font-weight:400">
                                    Remain in conformance with any decrees, laws and/or statutes or to comply with any process which may be served upon The Cosmopolitan Group and/or our website;
                                </span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">
                                    Maintain, safeguard and/or preserve all the rights and/or property of The Cosmopolitan Group; and
                                </span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">
                                    Perform under demanding conditions to safeguard the personal safety of users of Cosmopolitancg.com/ and/or the general public.
                                </span>
                            </li>
                        </ul>
                        <h5>
                            <b>Children Under the Age of 13</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">
                                The Cosmopolitan Group does not knowingly collect personal identifiable information from children under the age of thirteen (13) without verifiable parental consent. If it is determined that such information has been inadvertently collected on anyone under the age of thirteen (13), we shall immediately take the necessary steps to ensure that such information is deleted from our system’s database. Anyone under the age of thirteen (13)  must seek and obtain parent or guardian permission to use this website.
                            </span>
                        </p>
                        <h5>
                            <b>Unsubscribe or Opt-Out</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">All users and/or visitors to our website have the option to discontinue receiving communication from us and/or reserve the right to discontinue receiving communications by way of email or newsletters. To discontinue or unsubscribe to our website please send an email that you wish to unsubscribe to unsubscribe@cosmopolitancg.com. If you wish to unsubscribe or opt-out from any third-party websites, you must go to that specific website to unsubscribe and/or opt-out.</span>
                        </p>
                        <h5>
                            <b>Links to Other Web Sites</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">
                                Our website does contain links to affiliate and other websites. The Cosmopolitan Group does not claim nor accept responsibility for any privacy policies, practices and/or procedures of other such websites. Therefore, we encourage all users and visitors to be aware when they leave our website and to read the privacy statements of each website that collects personally identifiable information. The Privacy Policy Agreement applies only and solely to the information collected by our website.
                            </span>
                        </p>
                        <h5>
                            <b>Security</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">We use certain physical, managerial, and technical safeguards that are designed to protect the integrity and security of your information. We cannot, however, ensure or warrant the security of any information you transmit to us through the Services or store on the Site and you do so at your own risk. We also cannot guarantee that such information may not be accessed, disclosed, altered, or destroyed by breach of any of our physical, technical, or managerial safeguards.</span>
                        </p>
                        <p>
                            <span style="font-weight:400">
                                Although we may allow you to adjust your privacy settings to limit access to your information, no security measures are perfect or impenetrable. We cannot control the actions of other users or other third parties with whom you may choose to share your information. Therefore, we cannot and do not guarantee that information you post through the Services and on the Site will not be viewed by unauthorized persons. We are not responsible for circumvention of any privacy settings or security measures contained on the Site. Even after removal, copies of information that you have posted may remain viewable in cached and archived pages or if other users have copied or stored such information.
                            </span>
                        </p>
                        <h5>
                            <b>In the Event of Merger or Sale</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">The Cosmopolitan Group reserves the right to transfer or assign the information that we have collected from users in connection with a corporate transaction, such as a divestiture, merger, consolidation, or asset sale, or in the unlikely event of bankruptcy.</span>
                        </p>
                        <h5>
                            <b>Changes to Privacy Policy Agreement</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">
                                The Cosmopolitan Group reserves the right to update and/or change the terms of our privacy policy, and as such we will post those change to our website homepage at Cosmopolitancg.com, so that our users and/or visitors are always aware of the type of information we collect, how it will be used, and under what circumstances, if any, we may disclose such information. If at any point in time The Cosmopolitan Group decides to make use of any personally identifiable information on file, in a manner vastly different from that which was stated when this information was initially collected, the user or users shall be promptly notified by email. Users at that time shall have the option as to whether or not to permit the use of their information in this separate manner.
                            </span>
                        </p>
                        <h5>
                            <b>How to Contact Us</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">
                                If you have any questions or concerns regarding the Privacy Policy Agreement related to our website, please feel free to contact us at the following email, telephone number or mailing address.
                            </span>
                        </p>
                        <h5>
                            <b>Email:</b><span style="font-weight:400">&nbsp; info@cosmopolitanCG.com</span>
                        </h5>
                        <h5>
                            <b>Telephone Number:</b><span style="font-weight:400">&nbsp;(302) 288-0670</span>
                        </h5>
                        <h5>
                            <b>Mailing Address:</b><span style="font-weight:400">&nbsp;1309 Coffeen Ave. Suite 4521 Sheridan, Wyoming 82801.</span>
                        </h5>
                        <h5>
                            <b>Last Updated:</b><span style="font-weight:400">&nbsp;</span>
                        </h5>
                        <h5>
                            <b>Privacy Notice for California Residents</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">
                                This Privacy Notice for California Residents supplements the information contained in our privacy policy above and applies solely to all visitors, users, and others who reside in the State of California (“consumers” or “you”). We adopt this notice to comply with the California Consumer Privacy Act of 2018 (CCPA) and any terms defined in the CCPA have the same meaning when used in this notice.
                            </span>
                        </p>
                        <h5>
                            <b>Information We Collect</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">We collect information that identifies, relates to, describes, references, is capable of being associated with, or could reasonably be linked, directly or indirectly, with a particular consumer or device (“personal information”). We have collected the following categories of personal information from consumers within the last twelve (12) months:</span>
                        </p>
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <b>Categories</b>
                                    </td>
                                    <td>
                                        <b>Examples</b>
                                    </td>
                                    <td>
                                        <b>Collected</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight:400">A. Identifiers.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">A real name, alias, postal address, unique personal identifier, online identifier, Internet Protocol address, email address, account name, Social Security number, driver’s license number, passport number, or other similar identifiers.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">YES</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight:400">B. Personal information categories listed in the California Customer Records statute (Cal. Civ. Code § 1798.80(e)).</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">A name, signature, Social Security number, physical characteristics or description, address, telephone number, passport number, driver’s license or state identification card number, insurance policy number, education, employment, employment history, bank account number, credit card number, debit card number, or any other financial information, medical information, or health insurance information. Some personal information included in this category may overlap with other categories.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">YES</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight:400">C. Protected classification characteristics under California or federal law.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">Age (40 years or older), race, color, ancestry, national origin, citizenship, religion or creed, marital status, medical condition, physical or mental disability, sex (including gender, gender identity, gender expression, pregnancy or childbirth and related medical conditions), sexual orientation, veteran or military status, genetic information (including familial genetic information).</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">NO</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight:400">D. Commercial information.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">Records of personal property, products or services purchased, obtained, or considered, or other purchasing or consuming histories or tendencies.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">NO</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight:400">E. Biometric information.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">Genetic, physiological, behavioral, and biological characteristics, or activity patterns used to extract a template or other identifier or identifying information, such as, fingerprints, faceprints, and voiceprints, iris or retina scans, keystroke, gait, or other physical patterns, and sleep, health, or exercise data.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">NO</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight:400">F. Internet or other similar network activity.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">Browsing history, search history, information on a consumer’s interaction with a website, application, or advertisement.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">YES</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight:400">G. Geolocation data.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">Physical location or movements.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">NO</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight:400">H. Sensory data.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">Audio, electronic, visual, thermal, olfactory, or similar information.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">NO</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight:400">I. Professional or employment-related information.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">Current or past job history or performance evaluations.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">NO</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight:400">J. Non-public education information (per the Family Educational Rights and Privacy Act (20 U.S.C. Section 1232g, 34 C.F.R. Part 99)).</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">Education records directly related to a student maintained by an educational institution or party acting on its behalf, such as grades, transcripts, class lists, student schedules, student identification codes, student financial information, or student disciplinary records.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">NO</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span style="font-weight:400">K. Inferences drawn from other personal information.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">Profile reflecting a person’s preferences, characteristics, psychological trends, predispositions, behavior, attitudes, intelligence, abilities, and aptitudes.</span>
                                    </td>
                                    <td>
                                        <span style="font-weight:400">NO</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h5>
                            <b>Public information does not include</b><span style="font-weight:400">:&nbsp;</span>
                        </h5>
                        <ul>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Publicly available information from government records.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">De-identified or aggregated consumer information.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Information excluded from the CCPA’s scope, like:</span>
                                <ul>
                                    <li style="font-weight:400">
                                        <span style="font-weight:400">health or medical information covered by the Health Insurance Portability and Accountability Act of 1996 (HIPAA) and the California Confidentiality of Medical Information Act (CMIA) or clinical trial data;</span>
                                    </li>
                                    <li style="font-weight:400">
                                        <span style="font-weight:400">personal information covered by certain sector-specific privacy laws, including the Fair Credit Reporting Act (FRCA), the Gramm-Leach-Bliley Act (GLBA) or California Financial Information Privacy Act (FIPA), and the Driver’s Privacy Protection Act of 1994.</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <p>
                            <span style="font-weight:400">We obtain the categories of personal information listed above from the following categories of sources:</span>
                        </p>
                        <ul>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Directly from our you.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Indirectly from you. For example, through information we collect from our clients in the course of providing services to them.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Directly and indirectly from activity on our website.&nbsp;</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">From third-parties that interact with us in connection with the services we perform.&nbsp;</span>
                            </li>
                        </ul>
                        <h5>
                            <b>Use of Personal Information</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">We may use or disclose the personal information we collect for one or more of the following business purposes:</span>
                        </p>
                        <ul>
                            <li style="font-weight:400">
                                <span style="font-weight:400">To fulfill or meet the reason for which the information is provided.&nbsp;</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">To provide you with information, products or services that you request from us.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">To provide you with email alerts.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">To carry out our obligations and enforce our rights arising from any contracts entered into between you and us.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">To improve our website and present its contents to you.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">For testing, research, analysis and product development.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">As necessary or appropriate to protect the rights, property or safety of us, our clients or others.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">To respond to law enforcement requests and as required by applicable law, court order, or governmental regulations.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">As described to you when collecting your personal information or as otherwise set forth in the CCPA.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">To evaluate or conduct a merger, divestiture, restructuring, reorganization, dissolution, or other sale or transfer of some or all of our assets, whether as a going concern or as part of bankruptcy, liquidation, or similar proceeding, in which personal information held by us is among the assets transferred.</span>
                            </li>
                        </ul>
                        <p>
                            <span style="font-weight:400">We will not collect additional categories of personal information or use the personal information we collected for materially different, unrelated, or incompatible purposes without providing you notice.</span>
                        </p>
                        <h5>
                            <b>Sharing Personal Information</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">We may disclose your personal information to a third party for a business purpose. When we disclose personal information for a business purpose, we enter a contract that describes the purpose and requires the recipient to both keep that personal information confidential and not use it for any purpose except performing the contract.</span>
                        </p>
                        <p>
                            <span style="font-weight:400">In the preceding twelve (12) months, we have disclosed the following categories of personal information for a business purpose:</span>
                        </p>
                        <p>
                            <span style="font-weight:400">Category A: Identifiers.</span>
                        </p>
                        <p>
                            <span style="font-weight:400">Category B: California Customer Records personal information categories.</span>
                        </p>
                        <p>
                            <span style="font-weight:400">We disclose your personal information for a business purpose to the following categories of third parties:</span>
                        </p>
                        <ul>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Our affiliates.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Service providers.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Third parties to whom you or your agents authorize us to disclose your personal information in connection with products or services we provide to you.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Third party marketers who we feel you will benefit from their services.</span>
                            </li>
                        </ul>
                        <p>
                            <span style="font-weight:400">In the preceding twelve (12) months, we have sold any personal information.</span>
                        </p>
                        <h5>
                            <b>Your Rights and Choices</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">The CCPA provides consumers (California residents) with specific rights regarding their personal information. This section describes your CCPA rights and explains how to exercise those rights.</span>
                        </p>
                        <p>
                            <b>Access to Specific Information and Data Portability Rights</b>
                        </p>
                        <p>
                            <span style="font-weight:400">You have the right to request that we disclose certain information to you about our collection and use of your personal information over the past 12 months. Once we receive and confirm your verifiable consumer request, we will disclose to you:</span>
                        </p>
                        <ul>
                            <li style="font-weight:400">
                                <span style="font-weight:400">The categories of personal information we collected about you.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">The categories of sources for the personal information we collected about you.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Our business or commercial purpose for collecting or selling that personal information.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">The categories of third parties with whom we share that personal information.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">The specific pieces of personal information we collected about you (also called a data portability request).</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">If we sold or disclosed your personal information for a business purpose, two separate lists disclosing:</span>
                                <ul>
                                    <li style="font-weight:400">
                                        <span style="font-weight:400">sales, identifying the personal information categories that each category of recipient purchased; and</span>
                                    </li>
                                    <li style="font-weight:400">
                                        <span style="font-weight:400">disclosures for a business purpose, identifying the personal information categories that each category of recipient obtained.</span>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <h5>
                            <b>Deletion Request Rights</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">You have the right to request that we delete any of your personal information that we collected from you and retained, subject to certain exceptions. Once we receive and confirm your verifiable consumer request, we will delete (and direct our service providers to delete) your personal information from our records, unless an exception applies.</span>
                        </p>
                        <p>
                            <span style="font-weight:400">We may deny your deletion request if retaining the information is necessary for us or our service providers to:</span>
                        </p>
                        <ol>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Complete the transaction for which we collected the personal information, provide a good or service that you requested, take actions reasonably anticipated within the context of our ongoing business relationship with you, or otherwise perform our contract with you.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Detect security incidents, protect against malicious, deceptive, fraudulent, or illegal activity, or prosecute those responsible for such activities.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Debug products to identify and repair errors that impair existing intended functionality.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Exercise free speech, ensure the right of another consumer to exercise their free speech rights, or exercise another right provided for by law.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Comply with the California Electronic Communications Privacy Act (Cal. Penal Code § 1546 seq.).</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Engage in public or peer-reviewed scientific, historical, or statistical research in the public interest that adheres to all other applicable ethics and privacy laws, when the information’s deletion may likely render impossible or seriously impair the research’s achievement, if you previously provided informed consent.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Enable solely internal uses that are reasonably aligned with consumer expectations based on your relationship with us.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Comply with a legal obligation.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Make other internal and lawful uses of that information that are compatible with the context in which you provided it.</span>
                            </li>
                        </ol>
                        <h5>
                            <b>Exercising Access, Data Portability, and Deletion Rights</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">To exercise the access, data portability, and deletion rights described above, please submit a verifiable consumer request to us by either:</span>
                        </p>
                        <ul>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Calling us at (855) 943-0491</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Visiting studentfintech.com</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">By email us at: compliance@studenfintech.com</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">By writing us at: 539 West Commerce Street #1903, Dallas, TX 75208</span>
                            </li>
                        </ul>
                        <p>
                            <span style="font-weight:400">Only you or a person registered with the California Secretary of State that you authorize to act on your behalf, may make a verifiable consumer request related to your personal information. You may also make a verifiable consumer request on behalf of your minor child.</span>
                        </p>
                        <p>
                            <span style="font-weight:400">You may only make a verifiable consumer request for access or data portability twice within a 12-month period. The verifiable consumer request must:</span>
                        </p>
                        <ul>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Provide sufficient information that allows us to reasonably verify you are the person about whom we collected personal information or an authorized representative.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Describe your request with sufficient detail that allows us to properly understand, evaluate, and respond to it.</span>
                            </li>
                        </ul>
                        <p>
                            <span style="font-weight:400">We cannot respond to your request or provide you with personal information if we cannot verify your identity or authority to make the request and confirm the personal information relates to you. Making a verifiable consumer request does not require you to create an account with us. We will only use personal information provided in a verifiable consumer request to verify the requestor’s identity or authority to make the request.</span>
                        </p>
                        <p>
                            <b>Response Timing and Format</b>
                        </p>
                        <p>
                            <span style="font-weight:400">We endeavor to respond to a verifiable consumer request within 45 days of its receipt. If we require more time (up to 90 days), we will inform you of the reason and extension period in writing. If you have an account with us, we will deliver our written response to that account. If you do not have an account with us, we will deliver our written response by mail or electronically, at your option. Any disclosures we provide will only cover the 12-month period preceding the verifiable consumer request’s receipt. The response we provide will also explain the reasons we cannot comply with a request, if applicable. For data portability requests, we will select a format to provide your personal information that is readily useable and should allow you to transmit the information from one entity to another entity without hindrance.</span>
                        </p>
                        <p>
                            <span style="font-weight:400">We do not charge a fee to process or respond to your verifiable consumer request unless it is excessive, repetitive, or manifestly unfounded. If we determine that the request warrants a fee, we will tell you why we made that decision and provide you with a cost estimate before completing your request.</span>
                        </p>
                        <h5>
                            <b>Non-Discrimination</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">We will not discriminate against you for exercising any of your CCPA rights. Unless permitted by the CCPA, we will not:</span>
                        </p>
                        <ul>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Deny you goods or services.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Charge you different prices or rates for goods or services, including through granting discounts or other benefits, or imposing penalties.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Provide you a different level or quality of goods or services.</span>
                            </li>
                            <li style="font-weight:400">
                                <span style="font-weight:400">Suggest that you may receive a different price or rate for goods or services or a different level or quality of goods or services.</span>
                            </li>
                        </ul>
                        <h5>
                            <b>Changes to Our Privacy Notice</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">We reserve the right to amend this privacy notice at our discretion and at any time. When we make changes to this privacy notice, we will notify you by email or through a notice on our website homepage.</span>
                        </p>
                        <h5>
                            <b>Contact Information</b>
                        </h5>
                        <p>
                            <span style="font-weight:400">If you have any questions or comments about this notice, our Privacy Statement, the ways in which we collect and use your personal information, your choices and rights regarding such use, or wish to exercise your rights under California law, please do not hesitate to contact us at:</span>
                        </p>
                        <p>
                            <span style="font-weight:400"><strong>Phone:</strong> (855) 943-0491</span>
                        </p>
                        <p>
                            <span style="font-weight:400"><strong>Website:</strong> cosmopolitancg.com</span>
                        </p>
                        <p>
                            <span style="font-weight:400"><strong>Email:</strong> info@cosmopolitanCG.com</span>
                        </p>
                        <p>
                            <span style="font-weight:400"><strong>Postal Address:</strong>The Cosmopolitan Consumer Group, LLC</span>
                        </p>
                        <p>
                            <span style="font-weight:400">LLC 1309 Coffeen Ave. Suite 4521 Sheridan</span>
                        </p>
                        <p>
                            <span style="font-weight:400">Wyoming 82801</span>
                        </p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>