
@{
    ViewData["Title"] = "thankyou";
    Layout = "~/Views/Layouts/_loginLayout.cshtml";
}

th<html lang="en" class="no-js">
<!--<![endif]-->
<head>
    <title>CCPA request form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description" content="CCPA request form">
    <meta property="og:title" content="CCPA request form">
    <meta property="og:description" content="CCPA request form">

    <link rel="shortcut icon" href="/etc/designs/global-store/sites/en/favicon.ico">

    <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    
    <link rel="stylesheet" href="~/ccpa/css/ccpa_theme.css" type="text/css">
    <link rel="stylesheet" href="~/ccpa/css/wform_layout.css" type="text/css">

    <style>
        input[type=checkbox] {
            display: block !important;
            float: left;
            width: 20px;
            height: 20px;
            margin-right: 5px;
        }

        .input-checkbox-faux {
            display: none !important;
        }

        #sparkjqv_overlay_correct_now {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
    </style>

    <link rel="stylesheet" type="text/css" href="https://docs.corepassage.com/JSLibraries/SparkJQValidation/sparkjqv.parsley.css">
</head>

<body class="ccpa-request-form-page " data-new-gr-c-s-check-loaded="14.1026.0" data-gr-ext-installed="">
    <div id="invm_overlay_mpartners_body_background" class="popup_background" style="opacity: 0; visibility: hidden; background-color: black; position: fixed; inset: 0px; z-index: 100000; transition: all 0.3s ease 0s;"></div><div id="invm_overlay_mpartners_body_wrapper" class="popup_wrapper" style="opacity: 0; visibility: hidden; position: fixed; overflow: auto; z-index: 100001; transition: all 0.3s ease 0s; inset: 0px; text-align: center; display: none;"><div id="invm_overlay_mpartners_body" class="simple_overlay popup_content" style="padding: 0px; margin: 0px; display: inline-block; z-index: 10000; background-color: rgb(51, 51, 51); border: 1px solid rgb(102, 102, 102); box-shadow: rgb(102, 102, 102) 0px 0px 40px; width: 650px; opacity: 0; visibility: hidden; outline: none; transition: all 0.3s ease 0s; text-align: left; position: relative; vertical-align: middle;" data-popup-initialized="true" aria-hidden="true" role="dialog"> <div id="invm_overlay_mpartners_wrapper" style="margin: 0px auto 0px auto;"> <a id="invm_overlay_mpartners_close" style="background-image:url(//docs.corepassage.com/JSLibraries/OptOutOverlay/close.png);position:absolute;right:-15px;top:-15px;cursor:pointer;height:35px;width:35px;"></a> <div style="padding:25px 25px 25px 25px;background-color:#fff;font-family: Arial, Helvetica, sans-serif;font-size:12px;float:left;text-align:left;"><strong>undefined</strong><br><br>By registering on our site, you may receive live telephone calls from one or more of the callers listed below at the number you provided. Whether or not you receive any calls may depend on your answers to the offers presented that follow our registration page. You expressly waive all federal and state no-call restrictions with respect to such contact. You may opt out of receiving calls at any time by following the instructions provided by the caller or asking the caller to place you on its do-not-call list.<ol style="margin-top:10px;font-family: Arial, Helvetica, sans-serif;font-size:12px;"></ol></div> </div> </div><div class="popup_align" style="display: inline-block; vertical-align: middle; height: 100%;"></div></div><div id="invm_overlay_body_background" class="popup_background" style="opacity: 0; visibility: hidden; background-color: black; position: fixed; inset: 0px; z-index: 100000; transition: all 0.3s ease 0s;"></div><div id="invm_overlay_body_wrapper" class="popup_wrapper" style="opacity: 0; visibility: hidden; position: fixed; overflow: auto; z-index: 100001; transition: all 0.3s ease 0s; inset: 0px; text-align: center; display: none;"><div id="invm_overlay_body" class="simple_overlay popup_content" style="padding: 0px; margin: 0px; display: inline-block; z-index: 10000; background-color: rgb(51, 51, 51); border: 1px solid rgb(102, 102, 102); box-shadow: rgb(102, 102, 102) 0px 0px 40px; width: 650px; opacity: 0; visibility: hidden; outline: none; transition: all 0.3s ease 0s; text-align: left; position: relative; vertical-align: middle;" data-popup-initialized="true" aria-hidden="true" role="dialog"> <div id="invm_overlay_wrapper" style="margin: 0px auto 0px auto;"> <a id="invm_overlay_close" style="background-image:url(//docs.corepassage.com/JSLibraries/OptOutOverlay/close.png);position:absolute;right:-15px;top:-15px;cursor:pointer;height:35px;width:35px;"></a> <div style="padding:50px 25px 75px 25px;background-color:#fff;font-family: Arial, Helvetica, sans-serif;font-size:12px;float:left;text-align:left;">You DO have the right to have your DNC (Do Not Call) registration honored and opting in to receive outbound calls is not a requirement to complete this application. If you would not like to receive live telephone calls from our marketing partners, please check the box below:<br><br> <input type="checkbox" id="dnc_opt_out_checkbox" value="1"> No, I do not want to receive live telephone calls <br><br> <input type="button" id="inovum_overlay_correct_now" value="Submit"></div> </div> </div><div class="popup_align" style="display: inline-block; vertical-align: middle; height: 100%;"></div></div>



    <main role="main" style="margin-top:20px;margin-bottom:60px;">
        <div class="par-main parsys">
            <section class="column-control layout-default bgcolor--default default has-padding-top--60 has-padding-bottom--60 has-padding-horizontal--none default-rule section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-2 col-12">

                        </div>

                        <div class="col-md-8 col-12">
                            <div class="title default-color text-align--left sans section">

                                <h1 class="default-color text-align--left sans" style="margin-top:20px;">
                                    Thank you
                                </h1>
                            </div>

                            <div class="content-tile default behavior--none content-tile-portrait bgcolor--default default-links default-btn-type default-btn-width default-btn-size pad--default__figure pad-eq-vertical--default__caption pad-eq-horizontal--default__caption default-color default-title-typesize default-title-typefamily default-title-typeweight default-title-color default-subtitle-typesize default-subtitle-typeweight default-subtitle-color default-content-tile-text--col-count section" style="margin-top:20px;">
                                <div class="content-tile-container">
                                    <figure>
                                        <figcaption>
                                            <div class="content-tile-text">
                                                <p>Your request has been submitted and we will respond shortly. Please note that if you have requested access for information or data deletion, we will need to verify you are who you claim to be in order to complete your request which you will receive via email. </p>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">var SparkJqvOnChange = true; var SparkJqvSetTypes = true;</script>

    <script src="~/ccpa/jslibraries/sparklib.1.1.js"></script>
    <script>window.sparkjqv_setgenericval || document.write('<script src="/jslibraries/sparklib.1.1.js">\x3C/script>')</script>

    <script src="~/ccpa/jslibraries/SparkJQValidation/sparkjqv.parsley.2.0.js"></script>
    <script type="text/javascript">
    $(document).ready(function(){
        spark_ishiddenfields = true;
    });
    </script>
    <!-- This is here for tooltip location adjustment if needed -->
    <style>
        .parsley-errors-list {
            margin-top: -10px;
            margin-bottom: 10px;
        }
    </style>
    <!-- End validation Scripts -->





</body>

</html>

