
@{
    ViewData["Title"] = "unsubnotification";
    Layout = "~/Views/Layouts/MoneyhomeLayout.cshtml";
}


<main role="main" style="margin-top:20px;margin-bottom:60px;">
    <div class="par-main parsys">
        <section class="column-control layout-default bgcolor--default default has-padding-top--60 has-padding-bottom--60 has-padding-horizontal--none default-rule section">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-12">

                    </div>

                    <div class="col-md-8 col-12">
                        <div class="title default-color text-align--left sans section">

                            @*<h1 class="default-color text-align--left sans" style="margin-top:20px;">
                                Thank you
                            </h1>*@
                        </div>

                        <div class="content-tile default behavior--none content-tile-portrait bgcolor--default default-links default-btn-type default-btn-width default-btn-size pad--default__figure pad-eq-vertical--default__caption pad-eq-horizontal--default__caption default-color default-title-typesize default-title-typefamily default-title-typeweight default-title-color default-subtitle-typesize default-subtitle-typeweight default-subtitle-color default-content-tile-text--col-count section" style="margin-top:20px;">
                            <div class="content-tile-container">
                                <figure>
                                    <figcaption>
                                        <div class="content-tile-text">
                                            <p>
                                              	Sorry to see you go, you are now unsubscribed.  Your email will be removed within 7-10 days.
                                            </p>
                                        </div>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</main>

