<!DOCTYPE html>

<html style="scroll-behavior:smooth !important;">
<head>
    <meta name="viewport" content="width=device-width" />




    <meta class="foundation-mq-small">
    <meta class="foundation-mq-small-only">
    <meta class="foundation-mq-medium">
    <meta class="foundation-mq-medium-only">
    <meta class="foundation-mq-large">
    <meta class="foundation-mq-large-only">
    <meta class="foundation-mq-xlarge">
    <meta class="foundation-mq-xlarge-only">
    <meta class="foundation-mq-xxlarge">
    <meta class="foundation-data-attribute-namespace">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Credit Guide Book </title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Typography /////////////////////////////// -->
    <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700|Roboto:400,100,300,500,900,700|Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/asset/css/awesome.min.css">

    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/css/style.css">

    <link href="~/asset/Money/testpop/new_styles/base.css" rel="stylesheet">
    <link href="~/asset/Money/testpop/checkbox-popup.css?v=1" rel="stylesheet">
    <meta class="foundation-mq-small">
    <meta class="foundation-mq-small-only">
    <meta class="foundation-mq-medium">
    <meta class="foundation-mq-medium-only">
    <meta class="foundation-mq-large">
    <meta class="foundation-mq-large-only">
    <meta class="foundation-mq-xlarge">
    <meta class="foundation-mq-xlarge-only">
    <meta class="foundation-mq-xxlarge">
    <meta class="foundation-data-attribute-namespace">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> AUTO RATE FREEDOM </title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="30x30" href="~/asset/Faviconcreditguidebook.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.2/css/foundation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="~/asset/Wax/css/styles.css">
    <link rel="stylesheet" href="~/asset/Wax/css/animate.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/asset/css/results.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9905611413179847"
            crossorigin="anonymous"></script>
    <style>
        /* Rush Card Styles */
        .waxdisclaimer p {
            font-family: 'Source Sans Pro';
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            text-align: left;
            margin-bottom: 20px;
            text-align: justify;
        }

        .navmaxwidth {
            max-width: 1307px;
        }
    </style>

    <style>
        .input-container {
            display: -ms-flexbox; /* IE10 */
            display: flex;
            width: 100%;
            margin-bottom: 15px;
        }

        .footertop {
            margin-top: -5em !important;
        }

        .cardtop {
            margin-top: -0.7em !important;
        }

        .imgsize {
            height: 250px !important;
            width: 300px !important;
        }


        .detailalign {
            text-align: center !important;
            font-size: 3em !important;
            color: #167fb0 !important;
            font-weight: bold !important;
        }

        .logoheight {
            margin-top: -22px !important;
        }

        .btntop {
            margin-top: 16px;
        }

        .confrm {
            width: 74.9em !important;
            margin-left: -2.5em !important;
            margin-top: -2.5em !important;
            height: 4em !important;
        }

        .fontssize {
            font-size: 24px !important;
        }

        .icon {
            padding: 10px !important;
            background: dodgerblue !important;
            color: white !important;
            min-width: 50px !important;
            text-align: center !important;
            height: 49px !important;
        }

        .bgimage {
            /* background-image: url("/Resourcse/images/circleoverlay  image.png");*/
            background-image: url("/Resourcse/deskbg.png") !important;
        }

        .mtop {
            margin-top: 0em !important;
        }

        .inputs {
            cursor: auto;
            background-color: whitesmoke !important;
            font-size: 29px !important;
            padding: 6% !important;
            padding-left: 35px !important;
            width: 14em !important;
        }

        #panel-02 {
            /*border-top: 1px solid #ccc !important;*/
            border-bottom: 1px solid #ccc !important;
            padding: 10px 0px 10px 0px !important;
            margin: 10px 0px 20px 0px !important;
        }

        .marginright {
            margin-right: 9em !important;
        }

        .nsectiontop {
            margin-top: -3em !important;
        }

        .imgiconwidth {
            width: 43px !important;
        }

        .icon {
            padding: 10px !important;
            background: dodgerblue !important;
            color: white !important;
            min-width: 50px !important;
            text-align: center !important;
            height: 49px !important;
        }

        .input-field {
            width: 100%;
            padding: 10px;
            outline: none;
        }

            .input-field:focus {
                border: 2px solid royalblue;
            }

        .brhide {
            display: none;
        }

        .brhidde {
            display: block;
        }

        .flex-container {
            display: flex;
        }

        .btnleft {
            margin-left: -4em !important;
        }

        .btnendleft {
            margin-left: -8em !important;
        }

        .btnlineh {
            line-height: 3.6 !important;
        }

        .sectionleft {
            margin-left: 0em;
        }

        .buttonn {
            border-radius: 12px;
            background-color: white; /* Green */
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            box-shadow: 0px 0px 0px 8px #f8e8ff;
            width: 90%;
        }

        .buttonnn {
            border-radius: 12px;
            background-color: white; /* Green */
            border: none;
            color: white;
            padding: 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            box-shadow: 0px 0px 0px 8px #f8e8ff;
            width: 120%;
        }

        .btnmargintop {
            margin-top: -1em !important;
        }

        .flex-child {
            flex: 1;
            border: 2px solid yellow;
        }

        .navcolor {
            color: darkblue !important;
        }

        .assettextalign {
            text-align: left !important;
        }

        .pfont {
            font-size: 29px !important;
        }

        .maxwidthth {
            max-width: 80em;
        }

        .sectionwidth {
            width: 99% !important
        }

        .lowerleft {
            margin-left: 2em !important;
        }



        .bulletleft {
            margin-left: 2.1em !important;
        }

        .bulletlefts {
            margin-left: -4.5em !important;
        }

        .insurancelefts {
            margin-left: 5.1em !important;
        }

        .devidendlefts {
            margin-left: -13px !important;
        }

        .uperleft {
            margin-left: -3.1em !important;
        }

        .wageleft {
            margin-left: -8em !important;
        }

        .andmoreleft {
            margin-left: -6em !important;
        }

        .fintec {
            font-size: 25px !important;
            color: black !important;
            font-weight: 400 !important;
        }

        .pheight {
            height: 52px !important;
        }

        .btnpheight {
            height: 90px !important;
        }

        .bullettop {
            margin-top: -0.5em !important;
        }

        .circle {
            border-radius: 50%;
            behavior: url(PIE.htc);
            width: 338px;
            height: 338px;
            background: #f9a22f;
            border: 0px solid blue;
            text-align: center;
            margin-left: 50px;
            background-image: url("/Resourcse/images/circleoverlay  image.png");
            background-blend-mode: multiply;
        }

        .deviderr {
            display: block;
            width: 102%;
            border-top: 4px solid #dbd6d2;
            margin: 30px auto 20px auto;
            clear: both;
            align-items: baseline;
        }

        .deviderrleft {
            margin-left: 4em !important;
        }

        .bdeviderleft {
            margin-left: 4em !important;
        }

        @@media only screen and (max-width:1024px) {
            .maxwidthh {
                max-width: 470px;
            }

            .imgalign {
                margin-left: -6em
            }

            .mobilehide {
                display: none !important;
            }

            margin_top {
                margin-top: -70px;
            }



            .step1 {
                color: white;
                text-align: start;
                font-size: 23px;
                display: contents;
            }

            .step2 {
                color: white;
                font-size: 16px;
            }

            .deviderr {
                display: block;
                width: 97%;
                border-top: 4px solid #dbd6d2;
                margin: 30px auto 20px auto;
                clear: both;
                align-items: baseline;
            }

            .deviderrleft {
                margin-left: 4em !important;
            }
        }

        @@media only screen and (min-width: 992px) {

            .pfont {
                font-size: 25px !important;
            }


            .deviderr {
                display: block;
                width: 80%;
                border-top: 4px solid #dbd6d2;
                margin: 30px auto 20px auto;
                clear: both;
            }

            .desktophide {
                display: none;
            }

            .desktophidde {
                display: none;
            }

            .step1 {
                color: white;
                text-align: start;
                font-size: 23px;
                display: contents;
            }

            .step2 {
                color: white;
                font-size: 16px;
            }

            .deviderr {
                display: block;
                width: 97%;
                border-top: 4px solid #dbd6d2;
                margin: 30px auto 20px auto;
                clear: both;
                align-items: baseline;
            }

            .deviderrleft {
                margin-left: 4.3em !important;
            }

            .bdeviderleft {
                margin-left: 3em !important;
            }
        }


        @@media only screen and (max-device-width: 800px) {
            .imgsize {
                height: 250px !important;
                width: 266px !important;
                /* height: 250px !important;
                width: 300px !important;*/
            }

            .tabhidde {
                display: none !important;
            }

            .btntop {
                margin-top: -16px;
            }

            .skiptop {
                margin-top: -3em !important;
            }

            .cardtop {
                margin-top: -1em !important;
            }

            .tabhide {
                display: block;
            }




            .confrm {
                width: 44.2em !important;
                /* width: 39.8em !important;*/
                margin-left: -1.3em !important;
                margin-top: -1.3em !important;
                height: 3em !important;
                /*   width: 20.9em !important;
                margin-left: -1em !important;
                margin-top: -1em !important;
                height: 3em !important;*/
            }



            .mtop {
                margin-top: 2em !important;
            }

            .logoheight {
                height: 2em !important;
                margin-top: -32px !important;
            }



            .imgsize {
                height: 250px !important;
                width: 266px !important;
                /* height: 250px !important;
                width: 300px !important;*/
            }

            .icon {
                padding: 10px !important;
                background: dodgerblue !important;
                color: white !important;
                min-width: 50px !important;
                text-align: center !important;
                height: 40px !important;
            }

            .detailalign {
                text-align: center !important;
                font-size: 28px !important;
                color: #167fb0 !important;
                font-weight: bold !important;
            }


            .panel-02 {
                /*border-top: 1px solid #ccc !important;*/
                border-bottom: 1px solid #ccc !important;
                padding: 10px 0px 10px 0px !important;
                margin: 10px 0px 20px 0px !important;
            }

            .bgimage {
                /* background-image: url("/Resourcse/images/circleoverlay  image.png");*/
                background-image: url("/Resourcse/deskbg.png") !important;
                margin-top: -5em !important;
            }

            .imgfooter {
                width: 13em !important;
            }

            .sectionwidth {
                width: 20% !important
            }

            .nsectiontop {
                margin-top: 0em !important;
            }


            .marginright {
                margin-right: -1em !important;
            }

            .imgiconwidth {
                width: auto !important;
            }

            .inputs {
                cursor: auto;
                background-color: whitesmoke !important;
                font-size: 24px !important;
                padding: 6% !important;
                padding-left: 35px !important;
                width: 10.3em !important;
            }

            .pfonts {
                font-size: 12px !important;
                font-weight: 400;
            }

            .sectionleft {
                margin-left: -12px;
            }

            .brhide {
                display: block;
            }

            .brhidde {
                display: none;
            }

            .bullettop {
                margin-top: 0em !important;
            }

            .btnmargintop {
                margin-top: -1em !important;
            }

            .btnleft {
                margin-left: 0em !important;
            }

            .btnsleft {
                margin-left: 1em !important;
            }

            .fontssize {
                font-size: 17px !important;
            }

            .btnlineh {
                line-height: 4.2 !important;
            }

            .buttonnn {
                border-radius: 12px;
                background-color: white; /* Green */
                border: none;
                color: white;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                box-shadow: 0px 0px 0px 3px #f8e8ff;
                width: 90%;
            }

            .buttonn {
                border-radius: 12px;
                background-color: white; /* Green */
                border: none;
                color: white;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                box-shadow: 0px 0px 0px 3px #f8e8ff;
                width: 90%;
            }

            .fintec {
                font-size: 1.1rem !important;
                color: black !important;
                font-weight: 300 !important;
            }

            .bulletleft {
                margin-left: 0em !important;
            }

            .bulletleftss {
                margin-left: 0em !important;
            }

            .bulletlefts {
                margin-left: 0px !important;
            }

            .devidendlefts {
                margin-left: 0px !important;
            }

            .wageleft {
                margin-left: 0px !important;
            }

            .insurancelefts {
                margin-left: 0px !important;
            }

            .andmoreleft {
                margin-left: 0px !important;
            }

            .uperleft {
                margin-left: 0em !important;
            }

            .assettextalign {
                text-align: left !important;
            }

            .texalign {
                text-align: center !important;
                /* text-align: left !important;
            margin-left: 1em !important;*/
            }

            .pheight {
                height: 10px !important;
                width: 16em !important;
            }

            .imgalign {
                margin-left: 0px;
            }

            .btnheight {
                height: 3em !important;
            }

            .plineheight {
                line-height: 10px !important;
            }

            .circlemargintop {
                margin-top: 1em !important;
            }

            .mobilehide {
                display: none !important;
            }

            .unclainlineheight {
                line-height: 1.1em;
            }

            .netspendimage {
                margin-left: 1em !important;
            }

            .circlee {
                border-radius: 50%;
                behavior: url(PIE.htc);
                width: 310px;
                height: 303px;
                background: #f9a22f;
                border: 0px solid blue;
                text-align: center;
                font-size: 13px;
                background-image: url("/Resourcse/images/circleoverlay  image.png");
                background-blend-mode: multiply;
                margin-left: 0.7em !important;
            }

            .lineheight {
                line-height: 12px;
            }
        }

        @@media only screen and (max-device-width: 700px) {
            .confrm {
                width: 40.2em !important;
                margin-left: -1.3em !important;
                margin-top: -1.3em !important;
                height: 3em !important;
            }
        }

        @@media only screen and (max-device-width: 414px) {
            .mmtop {
                margin-top: 20px !important;
            }

            .footertop {
                margin-top: 0em !important;
            }

            .skipshow {
                display: block !important;
            }

            .bgbottom {
                background-color: #f8e8ff;
                line-height: 0px;
                border-bottom: 0px;
            }

            .endlineshow {
                display: contents !important;
            }

            .desktophide {
                display: none;
            }

            .imgsize {
                height: 250px !important;
                width: 266px !important;
                /* height: 250px !important;
                width: 300px !important;*/
            }

            .cardtop {
                margin-top: -0.7em !important;
            }

            .confrm {
                width: 23.8em !important;
                margin-left: -1em !important;
                margin-top: -1em !important;
                height: 3em !important;
                /*   width: 20.9em !important;
                margin-left: -1em !important;
                margin-top: -1em !important;
                height: 3em !important;*/
            }



            .mtop {
                margin-top: 2em !important;
            }

            .logoheight {
                height: 2em !important;
                margin-top: -32px !important;
            }

            .r-item {
                background: linear-gradient(to bottom, #fff 82%, #e9e9e9 577%) !important;
                padding: 0px !important;
            }

            .imgsize {
                height: 250px !important;
                width: 266px !important;
                /* height: 250px !important;
                width: 300px !important;*/
            }

            .icon {
                padding: 10px !important;
                background: dodgerblue !important;
                color: white !important;
                min-width: 50px !important;
                text-align: center !important;
                height: 40px !important;
            }

            .detailalign {
                text-align: left !important;
                font-size: 28px !important;
                color: #167fb0 !important;
                font-weight: bold !important;
            }


            .panel-02 {
                /*border-top: 1px solid #ccc !important;*/
                border-bottom: 1px solid #ccc !important;
                padding: 10px 0px 10px 0px !important;
                margin: 10px 0px 20px 0px !important;
            }

            .bgimage {
                background-color: #f8e8ff !important;
                background-image: url("/Resourcse/mobbg.png") !important;
            }

            .imgfooter {
                width: 13em !important;
            }

            .sectionwidth {
                width: 20% !important
            }

            .nsectiontop {
                margin-top: 0em !important;
            }


            .marginright {
                margin-right: -1em !important;
            }

            .imgiconwidth {
                width: auto !important;
            }

            .inputs {
                cursor: auto;
                background-color: whitesmoke !important;
                font-size: 24px !important;
                padding: 6% !important;
                padding-left: 35px !important;
                width: 10.3em !important;
            }

            .pfonts {
                font-size: 12px !important;
                font-weight: 400;
            }

            .sectionleft {
                margin-left: -12px;
            }

            .brhide {
                display: block;
            }

            .brhidde {
                display: none;
            }

            .bullettop {
                margin-top: 0em !important;
            }

            .btnmargintop {
                margin-top: 0em !important;
            }

            .btnleft {
                margin-left: 0em !important;
            }

            .btnsleft {
                margin-left: 1em !important;
            }

            .fontssize {
                font-size: 17px !important;
            }

            .btnlineh {
                line-height: 4.2 !important;
            }

            .buttonnn {
                border-radius: 12px;
                background-color: white; /* Green */
                border: none;
                color: white;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                box-shadow: 0px 0px 0px 3px #f8e8ff;
                width: 90%;
            }

            .buttonn {
                border-radius: 12px;
                background-color: white; /* Green */
                border: none;
                color: white;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                box-shadow: 0px 0px 0px 3px #f8e8ff;
                width: 90%;
            }

            .fintec {
                font-size: 1.1rem !important;
                color: black !important;
                font-weight: 300 !important;
            }

            .bulletleft {
                margin-left: 0em !important;
            }

            .bulletleftss {
                margin-left: 0em !important;
            }

            .bulletlefts {
                margin-left: 0px !important;
            }

            .devidendlefts {
                margin-left: 0px !important;
            }

            .wageleft {
                margin-left: 0px !important;
            }

            .insurancelefts {
                margin-left: 0px !important;
            }

            .andmoreleft {
                margin-left: 0px !important;
            }

            .uperleft {
                margin-left: 0em !important;
            }

            .assettextalign {
                text-align: left !important;
            }

            .texalign {
                text-align: center !important;
                /* text-align: left !important;
            margin-left: 1em !important;*/
            }

            .pheight {
                height: 10px !important;
                width: 16em !important;
            }

            .imgalign {
                margin-left: 0px;
            }

            .btnheight {
                height: 3em !important;
            }

            .plineheight {
                line-height: 10px !important;
            }

            .circlemargintop {
                margin-top: 1em !important;
            }

            .mobilehide {
                display: none !important;
            }

            .unclainlineheight {
                line-height: 1.1em;
            }

            .netspendimage {
                margin-left: 1em !important;
            }

            .circlee {
                border-radius: 50%;
                behavior: url(PIE.htc);
                width: 310px;
                height: 303px;
                background: #f9a22f;
                border: 0px solid blue;
                text-align: center;
                font-size: 13px;
                background-image: url("/Resourcse/images/circleoverlay  image.png");
                background-blend-mode: multiply;
                margin-left: 0.7em !important;
            }

            .lineheight {
                line-height: 12px;
            }
        }

        @@media only screen and ( max-width: 600px) {

            .endlineshow {
                display: contents !important;
            }

            .mobilehide {
                display: none;
            }
        }

        @@media only screen and ( max-width: 360px) {
            .confrm {
                width: 20.8em !important;
                margin-left: -1em !important;
                margin-top: -1em !important;
                height: 3em !important;
                /*  width: 20.9em !important;
                margin-left: -1em !important;
                margin-top: -1em !important;
                height: 3em !important;*/
            }

            .skipshow {
                display: block !important;
            }

            .footertop {
                margin-top: -5em !important;
            }

            .endlineshow {
                display: contents !important;
            }

            .desktophide {
                display: none;
            }

            .cardtop {
                margin-top: -0.7em !important;
            }

            .mtop {
                margin-top: 2em !important;
            }

            .logoheight {
                height: 2em !important;
                margin-top: -32px !important;
            }


            .r-item {
                background: linear-gradient(to bottom, #fff 82%, #e9e9e9 577%) !important;
                padding: 0px !important;
            }

            .imgsize {
                height: 250px !important;
                width: 266px !important;
                /* height: 250px !important;
                width: 300px !important;*/
            }

            .icon {
                padding: 10px !important;
                background: dodgerblue !important;
                color: white !important;
                min-width: 50px !important;
                text-align: center !important;
                height: 40px !important;
            }

            .detailalign {
                text-align: left !important;
                font-size: 28px !important;
                color: #167fb0 !important;
                font-weight: bold !important;
            }


            .panel-02 {
                /*border-top: 1px solid #ccc !important;*/
                border-bottom: 1px solid #ccc !important;
                padding: 10px 0px 10px 0px !important;
                margin: 10px 0px 20px 0px !important;
            }

            .bgimage {
                /* background-image: url("/Resourcse/images/circleoverlay  image.png");*/
                background-image: url("/Resourcse/mobbg.png") !important;
                margin-top: -5em !important;
            }

            .imgfooter {
                width: 13em !important;
            }

            .sectionwidth {
                width: 20% !important
            }

            .nsectiontop {
                margin-top: 0em !important;
            }


            .marginright {
                margin-right: -1em !important;
            }

            .imgiconwidth {
                width: auto !important;
            }

            .inputs {
                cursor: auto;
                background-color: whitesmoke !important;
                font-size: 24px !important;
                padding: 6% !important;
                padding-left: 35px !important;
                width: 10.3em !important;
            }

            .pfonts {
                font-size: 12px !important;
                font-weight: 400;
            }

            .sectionleft {
                margin-left: -12px;
            }

            .brhide {
                display: block;
            }

            .brhidde {
                display: none;
            }

            .bullettop {
                margin-top: 0em !important;
            }

            .btnmargintop {
                margin-top: 0em !important;
            }

            .btnleft {
                margin-left: 0em !important;
            }

            .btnsleft {
                margin-left: 1em !important;
            }

            .fontssize {
                font-size: 17px !important;
            }

            .btnlineh {
                line-height: 4.2 !important;
            }

            .buttonnn {
                border-radius: 12px;
                background-color: white; /* Green */
                border: none;
                color: white;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                box-shadow: 0px 0px 0px 3px #f8e8ff;
                width: 90%;
            }

            .buttonn {
                border-radius: 12px;
                background-color: white; /* Green */
                border: none;
                color: white;
                padding: 20px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                margin: 4px 2px;
                box-shadow: 0px 0px 0px 3px #f8e8ff;
                width: 90%;
            }

            .fintec {
                font-size: 1.1rem !important;
                color: black !important;
                font-weight: 300 !important;
            }

            .bulletleft {
                margin-left: 0em !important;
            }

            .bulletleftss {
                margin-left: 0em !important;
            }

            .bulletlefts {
                margin-left: 0px !important;
            }

            .devidendlefts {
                margin-left: 0px !important;
            }

            .wageleft {
                margin-left: 0px !important;
            }

            .insurancelefts {
                margin-left: 0px !important;
            }

            .andmoreleft {
                margin-left: 0px !important;
            }

            .uperleft {
                margin-left: 0em !important;
            }

            .assettextalign {
                text-align: left !important;
            }

            .texalign {
                text-align: center !important;
                /* text-align: left !important;
            margin-left: 1em !important;*/
            }

            .pheight {
                height: 10px !important;
                width: 16em !important;
            }

            .imgalign {
                margin-left: 0px;
            }

            .btnheight {
                height: 3em !important;
            }

            .plineheight {
                line-height: 10px !important;
            }

            .circlemargintop {
                margin-top: 1em !important;
            }

            .mobilehide {
                display: none !important;
            }

            .unclainlineheight {
                line-height: 1.1em;
            }

            .netspendimage {
                margin-left: 1em !important;
            }

            .circlee {
                border-radius: 50%;
                behavior: url(PIE.htc);
                width: 310px;
                height: 303px;
                background: #f9a22f;
                border: 0px solid blue;
                text-align: center;
                font-size: 13px;
                background-image: url("/Resourcse/images/circleoverlay  image.png");
                background-blend-mode: multiply;
                margin-left: 0.7em !important;
            }

            .lineheight {
                line-height: 12px;
            }
        }

        @@media only screen and (max-width:1400px) {
            .span1 {
                font-size: 17px !important;
            }




            .imgright {
                float: right;
            }
            /* .deviderrleft
        {
            margin-left:3em !important;
        }*/
        }


        @@media only screen and (min-width: 1536px) {
            .roland {
                font-size: 21px !important;
                margin-left: 4em;
            }

            .bgbottom {
                background-color: #f8e8ff;
                background: bottom;
                line-height: 0px;
                border-bottom: 0px;
            }

            .icon {
                padding: 10px !important;
                background: dodgerblue !important;
                color: white !important;
                min-width: 50px !important;
                text-align: center !important;
                height: 43px !important;
            }

            .btnlineh {
                line-height: 3.2 !important;
            }

            .uperleft {
                margin-left: -2.8em !important;
            }


            .btnmargintop {
                margin-top: -1em !important;
            }

            .circleleft {
                margin-left: -2.2em !important;
            }


            .pfont {
                font-size: 29px !important;
            }

            .comp {
                font-size: 33px !important;
            }

            .infor {
                font-size: 52px !important;
            }

            .deviderrleft {
                margin-left: 8em !important;
            }

            .disclosertext {
                font-size: 14px !important;
            }

            .maxwidth {
                max-width: 1307px;
                margin: 0 auto;
            }

            .desktophide {
                display: none;
            }

            .fontsizee {
                font-size: 24px !important;
            }

            .navmaxwidth {
                max-width: 1307px;
            }

            .testspan {
                font-size: 21px !important;
                margin-left: 4em;
            }

            .mm {
                margin-left: 3em;
            }

            .imgright {
                float: right;
            }

            .deviderr {
                display: block;
                width: 112%;
                border-top: 4px solid #dbd6d2;
                margin: 30px auto 20px auto;
                clear: both;
            }

            margin_top {
                margin-top: -5px;
            }

            .step1 {
                color: white;
                text-align: start;
                font-size: 23px;
                display: contents;
            }

            .step2 {
                color: white;
                font-size: 16px;
            }
        }
    </style>
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/Money/css/Styles.css">
</head>
<body style="overflow-x:hidden !important;">
    <br />
    <section id="hero" style=" min-height: fit-content;">
        <div class="navbar" id="navbars"></div>
        <div class="logo-bar" style=" max-width: 1240px; margin: 0 auto;">
            <div class="row navmaxwidth">
                @*<form action="/Money/applymidpath" method="post">*@

                @foreach (var i in ViewBag.package)
                {
                    <div class="small-12 medium-12 large-4 columns">
                        <h1 class="wow fadeInDown text-center animated" style="visibility: visible; animation-name: fadeInDown; text-align: left !important;">
                            <br />
                            <img class="logoheight" src="~/asset/creditguidebook_Logo-mid-size.jpg" alt="Student Fintec">
                        </h1>

                        @*<input style="display:none;" name="count" type="text" value="0" />*@




                        @*<div class="skiparea" style="padding-top:0px;display:block!important;">*@
                        <button class="desktophide skipshow" style="background-color: transparent; margin-top: -2.2em; float: right; margin-right: -0.7em;">
                            <a style=" display: block; color: darkblue; font-size: 12px;"> @Html.ActionLink("Skip this offer »", "applymidpath", "Money", null, null, "", new { tid = ViewBag.count }, null)</a>

                            @*<a >Skip this offer »</a>*@
                        </button>

                        @*<a id="SKIP01" href="javascript:__doPostBack('SKIP01','')" ></a>*@
                        @*</div>*@



                    </div>
                    <div class="small-12 medium-5 columns mobilehide">
                        <p class="text-right">
                            <button class="btntop" style="background-color: transparent; float: right;  ">
                                <a class="skiptop" style=" display: block; color: darkblue;  font-size: 12px;"> @Html.ActionLink("Skip this offer »", "applymidpath", "Money", null, null, "", new { tid = ViewBag.count }, null)</a>

                                @*<a style=" display: block; color: darkblue;   font-size: 12px;">Skip this offer »</a>*@
                            </button>
                        </p>



                    </div>
                }
                @*</form>*@



            </div>
        </div>
    </section>
    @RenderBody()


<section id="footer" style="background-color:#333">

    <div class="row" style="background-color: white; max-width: 1162px;">
        <div class="small-12 medium-12 large-4 columns">

            <h1 class="wow fadeInDown logocls text-center animated" style="visibility:visible;animation-name:fadeInDown"><img src="~/asset/creditguide.jpg" alt="" style="width: 20em; margin-top: 2em;"></h1>
        </div>
        <div class="col-md-8">

            <p style="color: black; font-size: 18px; padding: 23px 4px 14px 18px; text-align: center;">The Cosmopolitan Consumer Group is a dedicated and exclusive service that helps match you with top offers based on the interest you indicate when browsing on our website.</p>

        </div>



    </div>
    <br />
    <div class="row navmaxwidth">
        <div class="small-12 medium-5 columns">
            <p style="color:gray;" class="text-left">© Copyright 2022 The <a style="color: gray; text-decoration: underline;" href="https://cosmopolitancg.com/"> The Cosmopolitan Consumer Group, LLC</a> </p>

            @*<p class="text-left mobilehidde desktophide" style="color: white;">
                <a style="color: white; text-decoration: underline;" href="javascript:" onclick="window.open('/Money/Unsubcribe','privacy','scrollbars=yes,width=555,height=500')">Click here</a> to unsubscribe from our mailing list |
                <a style="color: white; text-decoration: underline;" href="javascript:;" onclick="openfunc()">Privacy Policy</a>|<a style="color: white; text-decoration: underline;" href="javascript:;" onclick="openfuncc()">Terms &amp; Conditions</a>
            </p>*@
        </div><div class="small-12 medium-1 columns mobilehide">&nbsp;</div><div class="small-12 medium-6 columns">
            <p class="text-right mobilehide" style="color: white;">
                <a style="color: white; text-decoration: underline;" href="javascript:" onclick="window.open('/Money/Unsubcribe','privacy','scrollbars=yes,width=555,height=500')">Click here</a>&nbsp;&nbsp;&nbsp;&nbsp; to unsubscribe from our mailing list&nbsp;&nbsp;&nbsp;&nbsp;
                <a style="color: white; text-decoration: underline;" href="javascript:;" onclick="openfunc()">Privacy Policy</a>&nbsp;&nbsp;&nbsp;&nbsp;  <a style="color: white; text-decoration: underline;" onclick="openfuncc()">  Terms    Conditions  </a>
            </p>
        </div>

        <div class="small-12 columns">
            <div class="" style="height:10px"></div>
            <p style="color:gray" class="text-left">
                *Void where prohibited. Service is not available in all 50 states.
            </p>
            <div class="" style="height:10px"></div>

            <p style="color:gray" class="text-left">
                <a style="color:gray;text-decoration:underline;" href="https://cosmopolitancg.com/">  The Cosmopolitan Consumer Group, LLC </a>is not affiliated with the United States Government and is a privately operated web site.<a style="color:gray;text-decoration:underline;" href="https://cosmopolitancg.com/">  The Cosmopolitan Consumer Group, LLC </a> acts as an informational portal for funding assistance. Information regarding the products and services on this website may be provided by a third party advertising such product and service on the site and therefore the correctness of such representations is unknown to the site owner who does not undertake due diligence to confirm such third-party representations regarding third party advertising claims. When you are redirected to the third-party advertiser's site, and you should review their terms and conditions and privacy policy as they differ significantly from our own. The owner of this website is not affiliated with the third-party advertiser other than stated above. The owner does not recommend or endorse any product or service on this website. The Cosmopolitan Consumer Group, LLC may receive a fee or commission when you participate in third party offers.
            </p>
            <div class="" style="height:10px"></div>
            <p style="color:gray"></p><p style="color:gray" class="text-left">
                After you register on cosmopolitantemplate.com , you will see a series of advertising offers. These offers are optional. You are not required to participate in the offers to obtain unclaimed asset information. If you decide to purchase products or services from our advertisers, you may incur associated charges. Any total dollar amount in unclaimed funds or goods that we show is reported by the appropriate government agencies. This does not guarantee that this money is under your name or common variations of your name and is able to have a claim form submitted to be paid that amount.
            <p></p>
            <div class="" style="height:10px"></div>
            <p style="color:gray" class="text-left">
                California Residents: Pursuant to Section 1798.120 of the California Consumer Privacy Act (CCPA), a consumer shall have the right, at any time, to direct a business that sells personal information about the consumer to third parties not to sell the consumer’s personal information. If you would like to exercise this right, please click the following link: <a style="color: gray; text-decoration: underline;" href="javascript:" @*onclick="showDiv3()"*@ onclick="window.open('/Money/CCPA','privacy','scrollbars=yes,width=555,height=500')"> Do Not Sell My Personal Information.</a>
            </p>
        </div>
    </div>
    <br />

</section>


  





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation/foundation.interchange.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation/foundation.tooltip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>


    <script>
        new WOW().init();
    </script>

    <script>
        $(document).foundation();
    </script>

    <!-- required by token replace.js script -->
    <script type="text/javascript">
        $(document).ready(function () {
            spark_ishiddenfields = true;


        });

        var isMobile = false; //initiate as false
        // device detection
        if (/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
            || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0, 4))) isMobile = true;

    </script>


    <script type="text/javascript" src="~/asset/Common.js"></script>

    <style>
        #myBtn {
            display: none; /* Hidden by default */
            position: fixed; /* Fixed/sticky position */
            bottom: 20px; /* Place the button at the bottom of the page */
            right: 30px; /* Place the button 30px from the right */
            z-index: 99; /* Make sure it does not overlap */
            border: none; /* Remove borders */
            outline: none; /* Remove outline */
            /* Set a background color */
            color: white; /* Text color */
            cursor: pointer; /* Add a mouse pointer on hover */
            padding: 15px; /* Some padding */
            /* Rounded corners */
            font-size: 18px; /* Increase font size */
        }

        @@media only screen and (max-width: 600px) {
            #myBtn {
                display: none; /* Hidden by default */
                position: fixed; /* Fixed/sticky position */
                bottom: 20px; /* Place the button at the bottom of the page */
                right: 0px; /* Place the button 30px from the right */
                z-index: 99; /* Make sure it does not overlap */
                border: none; /* Remove borders */
                outline: none; /* Remove outline */
                /* Set a background color */
                color: white; /* Text color */
                cursor: pointer; /* Add a mouse pointer on hover */
                padding: 15px; /* Some padding */
                /* Rounded corners */
                font-size: 18px; /* Increase font size */
            }
        }
    </style>


    <a id="myBtn" onclick="topFunction()"><img style="width:30%!important;float:right;" src="~/Resourcse/Asset 53 (2).png" /></a>
    <script>
        //Get the button:
        mybutton = document.getElementById("myBtn");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () { scrollFunction() };

        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
</body>
</html>
