<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="30x30" href="~/asset/FaviconCosmoTemplate.png">
    <title>@ViewBag.Title</title>

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9905611413179847"
            crossorigin="anonymous"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
