<!DOCTYPE html>
<html style="scroll-behavior:smooth !important;">
<head>

    <meta name="viewport" content="width=device-width" />
    <meta class="foundation-mq-small">
    <meta class="foundation-mq-small-only">
    <meta class="foundation-mq-medium">
    <meta class="foundation-mq-medium-only">
    <meta class="foundation-mq-large">
    <meta class="foundation-mq-large-only">
    <meta class="foundation-mq-xlarge">
    <meta class="foundation-mq-xlarge-only">
    <meta class="foundation-mq-xxlarge">
    <meta class="foundation-data-attribute-namespace">
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="30x30" href="~/asset/Faviconcreditguidebook.png">
    <title>Credit Guide Book </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9905611413179847" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700|Roboto:400,100,300,500,900,700|Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/asset/css/awesome.min.css">

    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/css/style.css">
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/Money/css/Styles.css">
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/Money/testpop/new_styles/base.css">
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/Money/testpop/nitro.css">
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/Money/testpop/nitro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9905611413179847" crossorigin="anonymous"></script>
    <script type='text/javascript'>var _at = {}; window._at.track = window._at.track || function () { (window._at.track.q = window._at.track.q || []).push(arguments); }; _at.domain = 'creditguidebook.com'; _at.owner = 'a19f30964888'; _at.idSite = '25283'; _at.attributes = {}; _at.webpushid = 'web.2.aimtell.com'; (function () { var u = '//cdn.aimtell.com/trackpush/';; var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0]; g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'trackpush.min.js'; s.parentNode.insertBefore(g, s); })();</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5Y00TQK17L"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-5Y00TQK17L');</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10866454865"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'AW-10866454865');</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10866454865"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/js/bootstrap-dialog.min.js"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'AW-10866454865');</script>
    <script type="text/javascript">window._mNHandle = window._mNHandle || {}; window._mNHandle.queue = window._mNHandle.queue || []; medianet_versionId = "3121199"; medianet_chnm = "";//Used to specify the channel name medianet_chnm2=" "; // Used to specify the channel 2 name medianet_chnm3=" "; // Used to specify the channel 3 name medianet_misc={}; medianet_misc.query='<query value>';</script>
    <script src="//contextual.media.net/dmedianet.js?cid=8CU6535L7" async="async"></script>

    <script>
        (function (document, window) {
            var script = document.createElement("script");
            script.type = "text/javascript";
            script.src = "https://trk-keingent.com/scripts/push/script/l4ev3o7d1w?url=" + encodeURI(self.location.hostname) + "&alturl=" + encodeURI(self.location.pathname);
            script.onload = function () {
                push_init();
                push_subscribe();
            };
            document.getElementsByTagName("head")[0].appendChild(script);
        })(document, window);

        if (typeof window === "undefined") {
            importScripts('https://trk-keingent.com/scripts/ext/script/l4ev3o7d1w?url=' + encodeURI(self.location.hostname));
        }
        importScripts("https://trk-keingent.com/scripts/sw/script/l4ev3o7d1w?url=" + encodeURI(self.location.hostname));
    </script>

</head>
<body id="first" class="ccpa-request-form-page " data-new-gr-c-s-check-loaded="14.1026.0" data-gr-ext-installed="" style="overflow-x: hidden; background-color: rgb(234, 234, 234); max-width: 118em; margin: 0 auto;" onload="init()">
    <div> @RenderBody() </div><div style="display:none;"> <div id="513002338">
    <script type="text/javascript">try { window._mNHandle.queue.push(function () { window._mNDetails.loadTag("513002338", "764x150", "513002338"); }); } catch (error) { }</script> </div><div id="510097892">
    <script type="text/javascript">try { window._mNHandle.queue.push(function () { window._mNDetails.loadTag("510097892", "640x200", "510097892"); }); } catch (error) { }</script> </div><div id="138641478">
    <script type="text/javascript">try { window._mNHandle.queue.push(function () { window._mNDetails.loadTag("138641478", "325x250", "138641478"); }); } catch (error) { }</script> </div><div id="315124459">
    <script type="text/javascript">try { window._mNHandle.queue.push(function () { window._mNDetails.loadTag("315124459", "760x170", "315124459"); }); } catch (error) { }</script> </div></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation/foundation.min.js"></script>
    <script src="~/Scripts/sparklib.1.1.js"></script>
    <script src="~/Scripts/sparkjqv.parsley.2.2.js"></script>
    <style>
        .parsley-errors-list {
            margin-top: -10px;
            margin-bottom: 10px;
        }
    </style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="~/asset/js/awesome.min.js"></script>
    <script>
    $(document).foundation(); new WOW().init(); $(document).ready(function () { $('.rbtnHasCheckingAccountYes').click(function () { $('#panel-01').show(); $('#panel-02').hide(); }); $('.rbtnHasCheckingAccountNo').click(function () { $('#panel-01').hide(); $('#panel-02').show(); }); }); var isMobile = isMobileDevice(); if (isMobile) {
            $('.rbtnHasCheckingAccountYes,.rbtnHasCheckingAccountNo').click(function () {//,#rbtnCheckingNSYesLabel,#rbtnCheckingNSYesLabel //console.log("1"); target=$('#panel-01'); $('html,body').animate({scrollTop: target.offset().top - 100}, 500);}) $('.rbtnCheckingNSYes,.rbtnCheckingNSNo').click(function (){//,#rbtnCheckingNSYesLabel,#rbtnCheckingNSYesLabel //console.log("1"); if ($('#PanelCreditRepairProvider').is(":visible")){target=$('#PanelCreditRepairProvider');}else if ($('#CrediReadyPanel').is(":visible")){target=$('#CrediReadyPanel');}else{target=$('#TERMS');}$('html,body').animate({scrollTop: target.offset().top - 100}, 500);}); $('#rbtnConsultationYes').click(function (){//,#rbtnCheckingNSYesLabel,#rbtnCheckingNSYesLabel //console.log("1"); $('.LexLawOptin').show(); if ($('#CrediReadyPanel').is(":visible")){target=$('#CrediReadyPanel');}else{target=$('#CreditRepairOptinFocus');}$('html,body').animate({scrollTop: target.offset().top - 100}, 500);}); $('#rbtnConsultationNo').click(function (){//,#rbtnCheckingNSYesLabel,#rbtnCheckingNSYesLabel //console.log("1"); $('.LexLawOptin').hide(); if ($('#CrediReadyPanel').is(":visible")){target=$('#CrediReadyPanel');}else{target=$('#TERMS');}$('html,body').animate({scrollTop: target.offset().top - 100}, 500);});}</script>
    <script id="LeadiDscript" type="text/javascript">(function () { var s = document.createElement('script'); s.id = 'LeadiDscript_campaign'; s.type = 'text/javascript'; s.async = true; s.src = '//create.lidstatic.com/campaign/7189696c-2e5a-b815-1fed-ff721a0bed1c.js?snippet_version=2'; var LeadiDscript = document.getElementById('LeadiDscript'); LeadiDscript.parentNode.insertBefore(s, LeadiDscript); })();</script> <noscript><img src='//create.leadid.com/noscript.gif?lac=025a0669-dab5-7f9f-84e2-227599989e8a&lck=7189696c-2e5a-b815-1fed-ff721a0bed1c&snippet_version=2' /></noscript>
</body>
</html>