<!DOCTYPE html>
<html style="scroll-behavior:smooth !important;">
<head>
    <meta name="viewport" content="width=device-width" />
    <meta class="foundation-mq-small">
    <meta class="foundation-mq-small-only">
    <meta class="foundation-mq-medium">
    <meta class="foundation-mq-medium-only">
    <meta class="foundation-mq-large">
    <meta class="foundation-mq-large-only">
    <meta class="foundation-mq-xlarge">
    <meta class="foundation-mq-xlarge-only">
    <meta class="foundation-mq-xxlarge">
    <meta class="foundation-data-attribute-namespace">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/asset/img/unclaimedfavicon.png"> @*<title>Student FinTech </title>*@
    <title>UNCLAIMED GOVT </title>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L9B8S5RM4Q"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-L9B8S5RM4Q');</script>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9905611413179847" crossorigin="anonymous"></script>
    <script>(function (document, window) { var script = document.createElement("script"); script.type = "text/javascript"; script.src = "https://trk-keingent.com/scripts/push/script/l4ev3o7d1w?url=" + encodeURI(self.location.hostname) + "&alturl=" + encodeURI(self.location.pathname); script.onload = function () { push_init(); push_subscribe(); }; document.getElementsByTagName("head")[0].appendChild(script); })(document, window);</script>
    <script>(function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-T9BS933');</script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700|Roboto:400,100,300,500,900,700|Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/asset/css/awesome.min.css">
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/css/style.css">
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/Money/css/Styles.css">
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/Money/testpop/new_styles/base.css">
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/Money/testpop/nitro.css">
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/Money/testpop/nitro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  @*  <script type="text/javascript">window.history.pushState(null, null, window.location.href); window.onpopstate = function () { window.history.go(1); };</script>*@
    <style>
        .NSButtons {
            font-size: 1rem;
            text-indent: 25px;
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            font-weight: 600;
        }

        .NSButtons {
            font-size: 1rem;
            text-indent: 25px;
            font-family: 'Roboto', sans-serif;
            font-size: 1rem;
            font-weight: 600;
        }</style>
    <style>
        .panel-divider {
            display: block;
            border-bottom: 1px solid rgba(0,0,0,.1);
            margin: 15px auto 15px auto;
        }

        #panel02 {
            display: none;
            margin: 0px auto 0px auto;
            padding: 5px 0px 5px 0px;
        }

            #panel02 p {
                font-size: .9rem;
                line-height: 1.1rem;
                margin-bottom: 6px;
            }

        #panel01 {
            display: none;
            margin: 0px auto 0px auto;
            padding: 5px 0px 5px 0px;
        }

            #panel01 p {
                font-size: .9rem;
                line-height: 1.1rem;
                margin-bottom: 6px;
            }

        @@keyframes fadeInRight {
            from {
                opacity: 0;
                transform: translate3d(25%, 0, 0);
            }

            to {
                opacity: 1;
                transform: none;
            }
        }

        @@keyframes fadeOutLeft {
            from {
                opacity: 1;
            }

            to {
                opacity: 0;
                transform: translate3d(-25%, 0, 0);
            }
        }</style>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9905611413179847" crossorigin="anonymous"></script>
</head>@*<body data-new-gr-c-s-check-loaded="14.1024.0" data-gr-ext-installed="" style="overflow-x:hidden;">*@
<body class="ccpa-request-form-page " data-new-gr-c-s-check-loaded="14.1026.0" data-gr-ext-installed="" style="overflow-x:hidden;">
    <noscript> <iframe src="ns" height="0" width="0" style="display:none;visibility:hidden"></iframe> </noscript>
    <div> @RenderBody() </div>@*<script src="~/Scripts/sparklib.1.1.js"></script> <script src="~/Scripts/sparkjqv.parsley.2.2.js"></script>*@
    <style>
        .parsley-errors-list {
            margin-top: -10px;
            margin-bottom: 10px;
        }</style>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="~/asset/js/awesome.min.js"></script> @*<script>$(document).foundation(); new WOW().init(); </script>*@
    <script src="~/asset/js/jquery.counter.min.js"></script>
    <script>$(document).ready(function () { $('.rbtnHasCheckingAccountYes').click(function () { $('#panel-01').show(); $('#panel-02').hide(); }); $('.rbtnHasCheckingAccountNo').click(function () { $('#panel-01').hide(); $('#panel-02').show(); }); }); //var isMobile=isMobileDevice(); //if (isMobile){// $('#rbtnHasCheckingAccountYes,#rbtnHasCheckingAccountNo').click(function (){//,#rbtnCheckingNSYesLabel,#rbtnCheckingNSYesLabel // //console.log("1"); // target=$('#panel-01'); // $('html,body').animate({// scrollTop: target.offset().top - 100 //}, 500); //}) $('.rbtnCheckingNSYes,.rbtnCheckingNSNo').click(function (){//,#rbtnCheckingNSYesLabel,#rbtnCheckingNSYesLabel //console.log("1"); if ($('#PanelCreditRepairProvider').is(":visible")){target=$('#PanelCreditRepairProvider');}else if ($('#CrediReadyPanel').is(":visible")){target=$('#CrediReadyPanel');}else{target=$('#TERMS');}$('html,body').animate({scrollTop: target.offset().top - 100}, 500);}); $('#rbtnConsultationYes').click(function (){//,#rbtnCheckingNSYesLabel,#rbtnCheckingNSYesLabel //console.log("1"); $('.LexLawOptin').show(); if ($('#CrediReadyPanel').is(":visible")){target=$('#CrediReadyPanel');}else{target=$('#CreditRepairOptinFocus');}$('html,body').animate({scrollTop: target.offset().top - 100}, 500);}); $('#rbtnConsultationNo').click(function (){//,#rbtnCheckingNSYesLabel,#rbtnCheckingNSYesLabel //console.log("1"); $('.LexLawOptin').hide(); if ($('#CrediReadyPanel').is(":visible")){target=$('#CrediReadyPanel');}else{target=$('#TERMS');}$('html,body').animate({scrollTop: target.offset().top - 100}, 500);}); </script>
</body>
</html>