<!DOCTYPE html>

<html style="scroll-behavior:smooth !important;">
<head>
    <meta name="viewport" content="width=device-width" />

    <meta class="foundation-mq-small">
    <meta class="foundation-mq-small-only">
    <meta class="foundation-mq-medium">
    <meta class="foundation-mq-medium-only">
    <meta class="foundation-mq-large">
    <meta class="foundation-mq-large-only">
    <meta class="foundation-mq-xlarge">
    <meta class="foundation-mq-xlarge-only">
    <meta class="foundation-mq-xxlarge">
    <meta class="foundation-data-attribute-namespace">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="30x30" href="~/asset/Faviconcreditguidebook.png">
    @*<title>Student FinTech </title>*@
    <title>Credit Guide Book </title>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <!-- Typography /////////////////////////////// -->
    <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700|Roboto:400,100,300,500,900,700|Roboto+Condensed:400,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/asset/css/awesome.min.css">
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/css/style.css">
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/Money/css/Styles.css">
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/Money/testpop/new_styles/base.css">
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/Money/testpop/nitro.css">
    <link id="DynamicStylesheet" rel="stylesheet" href="~/asset/Money/testpop/nitro.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9905611413179847"
            crossorigin="anonymous"></script>
    <!-- start webpush tracking code -->
    <script type='text/javascript'>var _at = {}; window._at.track = window._at.track || function () { (window._at.track.q = window._at.track.q || []).push(arguments); }; _at.domain = 'creditguidebook.com'; _at.owner = 'a19f30964888'; _at.idSite = '25283'; _at.attributes = {}; _at.webpushid = 'web.2.aimtell.com'; (function () { var u = '//s3.amazonaws.com/cdn.aimtell.com/trackpush/'; var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0]; g.type = 'text/javascript'; g.async = true; g.defer = true; g.src = u + 'trackpush.min.js'; s.parentNode.insertBefore(g, s); })();</script>
  
        <style>
            .NSButtons {
                font-size: 1rem;
                text-indent: 25px;
                font-family: 'Roboto', sans-serif;
                font-size: 1rem;
                font-weight: 600;
            }

            .NSButtons {
                font-size: 1rem;
                text-indent: 25px;
                font-family: 'Roboto', sans-serif;
                font-size: 1rem;
                font-weight: 600;
            }
        </style>
        <style>
            .panel-divider {
                display: block;
                border-bottom: 1px solid rgba(0,0,0,.1);
                margin: 15px auto 15px auto;
            }

            .resume {
                display: none
            }

            #expe1 {
                display: none;
            }

            #panel02 {
                display: none;
                margin: 0px auto 0px auto;
                padding: 5px 0px 5px 0px;
            }

                #panel02 p {
                    font-size: .9rem;
                    line-height: 1.1rem;
                    margin-bottom: 6px;
                }

            #panel01 {
                display: none;
                margin: 0px auto 0px auto;
                padding: 5px 0px 5px 0px;
            }

                #panel01 p {
                    font-size: .9rem;
                    line-height: 1.1rem;
                    margin-bottom: 6px;
                }



            @@keyframes fadeInRight {
                from {
                    opacity: 0;
                    transform: translate3d(25%, 0, 0);
                }

                to {
                    opacity: 1;
                    transform: none;
                }
            }

            @@keyframes fadeOutLeft {
                from {
                    opacity: 1;
                }

                to {
                    opacity: 0;
                    transform: translate3d(-25%, 0, 0);
                }
            }
        </style>
    </head>

    @*<body data-new-gr-c-s-check-loaded="14.1024.0" data-gr-ext-installed="" style="overflow-x:hidden;">*@
        <body class="ccpa-request-form-page " data-new-gr-c-s-check-loaded="14.1026.0" data-gr-ext-installed="" style="overflow-x:hidden;">
            <div>
                @RenderBody()
            </div>
            <!-- Scripts///////////////////////////////////////////////////-->
    <!-- Support Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation/foundation.min.js"></script>
    <script src="~/Scripts/sparklib.1.1.js"></script>
    <script src="~/Scripts/sparkjqv.parsley.2.2.js"></script>

    <!-- This is here for tooltip location adjustment if needed -->
    <style>
        .parsley-errors-list {
            margin-top: -10px;
            margin-bottom: 10px;
        }
    </style>
    <!-- End validation Scripts -->

    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script src="~/asset/js/awesome.min.js"></script>

    <script>
        $(document).foundation();
        new WOW().init();
    </script>




    <script src="~/asset/js/jquery.counter.min.js"></script>
    <script>

        $(document).ready(function () {
            $('#rbtnHasCheckingAccountYes').click(function () {
                alert(1);
                $('#panel-01').show();
                $('#panel-02').hide();
            });
            $('#rbtnHasCheckingAccountNo').click(function () {

                $('#panel-01').hide();
                $('#panel-02').show();
            });
        });

        var isMobile = isMobileDevice();
        if (isMobile) {
            $('#rbtnHasCheckingAccountYes,#rbtnHasCheckingAccountNo').click(function () { //,#rbtnCheckingNSYesLabel,#rbtnCheckingNSYesLabel
                //console.log("1");

                target = $('#panel-01');
                $('html,body').animate({
                    scrollTop: target.offset().top - 100
                }, 500);

            })

            $('.rbtnCheckingNSYes,.rbtnCheckingNSNo').click(function () { //,#rbtnCheckingNSYesLabel,#rbtnCheckingNSYesLabel
                //console.log("1");

                if ($('#PanelCreditRepairProvider').is(":visible")) {
                    target = $('#PanelCreditRepairProvider');
                }
                else if ($('#CrediReadyPanel').is(":visible")) {

                    target = $('#CrediReadyPanel');
                }
                else {
                    target = $('#TERMS');
                }
                $('html,body').animate({
                    scrollTop: target.offset().top - 100
                }, 500);

            });
            $('#rbtnConsultationYes').click(function () { //,#rbtnCheckingNSYesLabel,#rbtnCheckingNSYesLabel
                //console.log("1");
                $('.LexLawOptin').show();
                if ($('#CrediReadyPanel').is(":visible")) {

                    target = $('#CrediReadyPanel');
                }
                else {
                    target = $('#CreditRepairOptinFocus');
                }
                $('html,body').animate({
                    scrollTop: target.offset().top - 100
                }, 500);

            });
            $('#rbtnConsultationNo').click(function () { //,#rbtnCheckingNSYesLabel,#rbtnCheckingNSYesLabel
                //console.log("1");
                $('.LexLawOptin').hide();
                if ($('#CrediReadyPanel').is(":visible")) {

                    target = $('#CrediReadyPanel');
                }
                else {
                    target = $('#TERMS');
                }
                $('html,body').animate({
                    scrollTop: target.offset().top - 100
                }, 500);

            });
        }



    </script>


    </body>
</html>
