<!doctype html>
<html style=scroll-behavior:smooth!important>
<head>
    <meta name=viewport content="width=device-width">
    <meta class=foundation-mq-small>
    <meta class=foundation-mq-small-only>
    <meta class=foundation-mq-medium>
    <meta class=foundation-mq-medium-only>
    <meta class=foundation-mq-large>
    <meta class=foundation-mq-large-only>
    <meta class=foundation-mq-xlarge>
    <meta class=foundation-mq-xlarge-only>
    <meta class=foundation-mq-xxlarge>
    <meta class=foundation-data-attribute-namespace>
    <meta charset=utf-8>
    <meta http-equiv=Content-Security-Policy content=upgrade-insecure-requests>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon type=image/png sizes=30x30 href=~/asset/Faviconcreditguidebook.png>
    <title> Credit Guide Book </title>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9905611413179847" crossorigin=anonymous></script>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css>
    <link href="//fonts.googleapis.com/css?family=Oswald:400,300,700|Roboto:400,100,300,500,900,700|Roboto+Condensed:400,300,700" rel=stylesheet>
    <link rel=stylesheet href=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css>
    <link rel=stylesheet href=~/asset/css/awesome.min.css>
    <link id=DynamicStylesheet rel=stylesheet href=~/asset/css/style.css>
    <link id=DynamicStylesheet rel=stylesheet href=~/asset/Money/css/Styles.css>
    <link id=DynamicStylesheet rel=stylesheet href=~/asset/Money/testpop/new_styles/base.css>
    <link id=DynamicStylesheet rel=stylesheet href=~/asset/Money/testpop/nitro.css>
    <link id=DynamicStylesheet rel=stylesheet href=~/asset/Money/testpop/nitro.css>
    <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9905611413179847" crossorigin=anonymous></script>
    <script>var _at = {}; window._at.track = window._at.track || function () { (window._at.track.q = window._at.track.q || []).push(arguments) }, _at.domain = "creditguidebook.com", _at.owner = "a19f30964888", _at.idSite = "25283", _at.attributes = {}, _at.webpushid = "web.2.aimtell.com", function () { var t = document, a = t.createElement("script"), e = t.getElementsByTagName("script")[0]; a.type = "text/javascript", a.async = !0, a.defer = !0, a.src = "//cdn.aimtell.com/trackpush/trackpush.min.js", e.parentNode.insertBefore(a, e) }()</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5Y00TQK17L"></script>
    <script>function gtag() { dataLayer.push(arguments) } window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "G-5Y00TQK17L")</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10866454865"></script>
    <script>function gtag() { dataLayer.push(arguments) } window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "AW-10866454865")</script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-10866454865"></script>
    <script src=https://code.jquery.com/jquery-3.1.1.min.js></script>
    <script src=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/bootstrap3-dialog/1.35.3/js/bootstrap-dialog.min.js></script>
    <script>function gtag() { dataLayer.push(arguments) } window.dataLayer = window.dataLayer || [], gtag("js", new Date), gtag("config", "AW-10866454865")</script>
    <script>window._mNHandle = window._mNHandle || {}, window._mNHandle.queue = window._mNHandle.queue || [], medianet_versionId = "3121199", medianet_chnm = "", medianet_chnm3 = medianet_chnm2 = " ", medianet_misc = { query: "<query value>" }</script>
    <script src="//contextual.media.net/dmedianet.js?cid=8CU6535L7" async></script>
</head>
@*<body data-new-gr-c-s-check-loaded=14.1024.0 data-gr-ext-installed="" style=overflow-x:hidden>*@
<body id=first class=ccpa-request-form-page data-new-gr-c-s-check-loaded=14.1026.0 data-gr-ext-installed="" style="overflow-x:hidden;background-color:#fafafc;max-width:118em;margin:0 auto">
    <div>
        @RenderBody()
    </div>
    <div style=display:none>
        <div id=513002338>
            <script>try { window._mNHandle.queue.push(function () { window._mNDetails.loadTag("513002338", "764x150", "513002338") }) } catch (a) { }</script>
        </div>
        <div id=510097892>
            <script>try { window._mNHandle.queue.push(function () { window._mNDetails.loadTag("510097892", "640x200", "510097892") }) } catch (a) { }</script>
        </div>
        <div id=138641478>
            <script>try { window._mNHandle.queue.push(function () { window._mNDetails.loadTag("138641478", "325x250", "138641478") }) } catch (a) { }</script>
        </div>
        <div id=315124459>
            <script>try { window._mNHandle.queue.push(function () { window._mNDetails.loadTag("315124459", "760x170", "315124459") }) } catch (a) { }</script>
        </div>
    </div>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation/foundation.min.js></script>
    <script src=~/Scripts/sparklib.1.1.js></script>
    <script src=~/Scripts/sparkjqv.parsley.2.2.js></script>
    <style>
        .parsley-errors-list {
            margin-top: -10px;
            margin-bottom: 10px
        }
    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src=//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js></script>
    <script src=~/asset/js/awesome.min.js></script>
    <script>$(document).foundation(), (new WOW).init(), $(document).ready(function () { $(".rbtnHasCheckingAccountYes").click(function () {  $("#panel-01").show(), $("#panel-02").hide() }), $(".rbtnHasCheckingAccountNo").click(function () { $("#panel-01").hide(), $("#panel-02").show() }) }); var isMobile = isMobileDevice(); isMobile && ($(".rbtnHasCheckingAccountYes,.rbtnHasCheckingAccountNo").click(function () { target = $("#panel-01"), $("html,body").animate({ scrollTop: target.offset().top - 100 }, 500) }), $(".rbtnCheckingNSYes,.rbtnCheckingNSNo").click(function () { target = $("#PanelCreditRepairProvider").is(":visible") ? $("#PanelCreditRepairProvider") : $("#CrediReadyPanel").is(":visible") ? $("#CrediReadyPanel") : $("#TERMS"), $("html,body").animate({ scrollTop: target.offset().top - 100 }, 500) }), $("#rbtnConsultationYes").click(function () { $(".LexLawOptin").show(), target = $("#CrediReadyPanel").is(":visible") ? $("#CrediReadyPanel") : $("#CreditRepairOptinFocus"), $("html,body").animate({ scrollTop: target.offset().top - 100 }, 500) }), $("#rbtnConsultationNo").click(function () { $(".LexLawOptin").hide(), target = $("#CrediReadyPanel").is(":visible") ? $("#CrediReadyPanel") : $("#TERMS"), $("html,body").animate({ scrollTop: target.offset().top - 100 }, 500) }))</script>
    <script id=LeadiDscript>!function () { var e = document.createElement("script"); e.id = "LeadiDscript_campaign", e.type = "text/javascript", e.async = !0, e.src = "//create.lidstatic.com/campaign/7189696c-2e5a-b815-1fed-ff721a0bed1c.js?snippet_version=2"; var t = document.getElementById("LeadiDscript"); t.parentNode.insertBefore(e, t) }()</script>
    <noscript><img src="//create.leadid.com/noscript.gif?lac=025a0669-dab5-7f9f-84e2-227599989e8a&lck=7189696c-2e5a-b815-1fed-ff721a0bed1c&snippet_version=2"></noscript>
</body>
</html>
